/*grub project*/



.grub-top-picture {
    background-image: url(../img/GrubPreview001.png);
    background-size:contain;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;    
    margin-top: 50px;
}

.dark-background {
    background-color: #edede9;
    margin-right: -40px;
}

.grub-list{
    margin-top: 80px;
}


.grub-paragraph{
    margin-top: 70px;
    padding-bottom: 400px;
}

.grub-paragraph-tone{
    margin-top: 70px;
    padding-bottom: 200px;
}



.grubIllustration{
    background-image: url(../img/illustrationGuides.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 90vh;
    margin-top: 80px;
    }

.grubIllustrationBug{
    background-image: url(../img/illustrationBug.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 90vh;
    margin-top: 80px;
    }

.grubIllustrationOverview{
    background-image: url(../img/grubwalkIllustrationOverview.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    margin-top: 0;
    }

.VisualLanguage{
    background-image: url(../img/VisualLanguage.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 65vw;
    margin-top: 0px;
    margin-bottom: -10vw;
}

.PosterGrub{
    background-image: url(../img/GrubPoster.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 1500px;
    margin-top: -200px;
    margin-bottom: -10vw;
    margin: auto;
    
}

.GrubIcon{
    background-image: url(../img/IconsGrub.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    padding-bottom: -100px;
    
}

.GrubIconLoop{
    height: 90vh;
    padding-bottom: -100px;
    background-position: center;
    
}



.GrubIconGiff{
   
   
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding-top: 0;
}

.embed-responsive-16by9::before {
    padding-top: 0px;
}

.footer-grub{
    background-color: #edede9;
    padding-top: 40px;
    height: 79vh;
    max-height: 400px;
    font-size: 17px;
    line-height: 30px;
    z-index:1;
    
}






.visual-padding{
    padding-top: 40px;
}





.list-margin-top-mobile{
        
    }






@media only screen and (max-width: 600px) {
    
    .GrubIcon{
    background-image: url(../img/IconsGrub.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
        padding-bottom: 0px;
        padding-top: 0px;
        
}
        .GrubIconLoop{
        margin-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        height: 400px;
        padding-bottom: 0px;
        padding-top: 0px;
        
    }
    
    .grub-top-picture {
   
    height: 300px;
    background-position: center;    
    margin-top: 0px;
}
    .grub-paragraph{
    margin-top: -200px;
    padding-bottom: 40px;
}
    .grub-list{
    margin-top: 40px;
    height: 500px;
}
 
    
    
    
    .list-margin-top-mobile{
        padding-top: 40px;
    }
    
    .strategy {
        margin-top: -200px;
        padding-top: 40px;
        padding-bottom: -200px;
        height: 90vh;
        
    }
    
    
    .grubIllustration{
    background-image: url(../img/illustrationGuides.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
    margin-top: 80px;
    padding-bottom: 0px;
    }
    
    
   
        
    
    
    .grubIllustrationBug{
    background-image: url(../img/illustrationBug.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 450px;
    padding-bottom: 0px;
    
    }
    
    .subhead-project{
    
    font-size: 15px;
    color: #474b4f;
    line-height:37px;
    margin-top: 40px;
    padding-top: 40px;
}
    .grubIllustrationOverview{
    background-image: url(../img/grubwalkIllustrationOverviewmobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    margin-top: -0px;
    }
    
    .VisualLanguage{
    background-image: url(../img/VisualLanguageMobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    margin-top: -00px;
}
    
    .tone-voice-description{
    margin-top: -320px;
}
    

    
    .PosterGrub{
    background-image: url(../img/GrubPosterMobile.png);
    background-size: contain;
    background-repeat: no-repeat;
        background-position: center;
    height: 500px;

    
    
    
    
}
    
    .footer-main{
    height: 80vh;
        margin-top: -800px;
    max-height: 400px;
    font-size: 14px;
    line-height: 28px;
    line-height: 30px;
    
}
    
    .hide-desktop{
        display: inline-block;
    }
    

}


