
::selection{
    background-color: black;
    color:white;
}

::-moz-selection{
    background-color: black;
    color:white;
}

@import url("../fonts/Moderat%20Light.otf");
@import url("../fonts/Moderat%20Mono%20Light.otf");
@font-face {
	font-family: 'light' ;
	src: url("../fonts/Moderat%20Light.otf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
	font-family: 'thin';
    src: url("../fonts/Moderat%20Thin.otf");
}

html {
  scroll-behavior: smooth;
}


body {
	overflow-x: hidden;
	width: 100vw;
	background-color: #1a1a1a;
	font-family:'thin', neue-haas-unica, "Arial" , sans-serif;

font-weight: 300;

font-style: normal;
    cursor: default;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

img {background-color: black;}

button img  {
    background-color: rgba(0,0,0,0);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f3f3e;
    opacity:0.2;
}

.testme{min-height: 620px;}

p {
	display: block;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
    color: #8a8988;
    font-size: 22px;
    line-height: 26px;
    font-family: 'thin';
}

button:focus{
    outline:0px;
}







#mainContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}


a{
    
    cursor: pointer;
    color: #8a8988;
}

a:hover{
    color:white;
    transition:0.2s;
    text-decoration: none;
}



h1{ 
    display: block;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
    color: #8a8988; 
}

nav {
    padding-right: 30px;
	position: fixed;
	display: inline-flex;
	align-content: flex-end;
	right: 0px;
	font-size: 20px;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

#header {
	position: fixed;
	color: #8a8988;
	display: inline-block;
	width: 60vw;
	font-size: 53px;
	line-height: 54px;
/*	letter-spacing: -1px;*/
	color: #ebeaeb;
	font-weight: 400;
	cursor: default; 
}



.profilebio{
    font-size: 53px;
	line-height: 54px;
}

#headerprofile{
    position: absolute;
	color: #8a8988;
	display: inline-block;
	width: 70vw;
	
/*	letter-spacing: -1px;*/
	color: #ebeaeb;
	font-weight: 400;
	cursor: default;
}

#hide {
	display: inline;
	position: relative;
	opacity: 1;
/*    color: #8a8988;*/
}

h1 {
	color: #8a8988;
	display: inline-block;
	font-size: 30pt;
	line-height: 38pt;
    font-family: 'thin', Sans-Serif;
    
}

h2 {
	display: inline-block;
	font-size: 18px;
	margin-block-start: 00em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	color: #8a8988;
	margin-bottom: 10px;
}

.margin-left-general {
	margin-left: 30px;
}

.padding-right-general {
	padding-left: 30px;
}

.margin-top-general {
	margin-top: 30px;
}

.nav-link {
	color: white;
	margin-left: 10px;
	padding-left: 0px;
	padding: 0px;
	font-weight: 200;
	transition: color 0.2s;
}

.nav-link:hover {
	color: #8a8988;
}

.underline {
	border-bottom: 1.2px solid;
}

.padding-offset-left {
	padding-left: 34px;
}

.white {
	color: white;
}

.grey {
	color: rgba(255, 255, 255, 1);
}

.grey2 {
	color: rgba(0, 0, 0, 0.5);
}

.filterDiv {
	display: none;
	/* Hidden by default */
}

.show {
	display: inline-block;
}

navbar {
	background-color: #1a1a1a;
	position: absolute;
	width: 100vw;
	z-index: 3;
}

#navbar {
	padding-top: 20px;
	height: 65px;
}

.showreel {
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
}

.label-block {
	position: relative;
	top: 10px;
	left: 10px;
	flex-wrap: wrap;
	flex-direction: row;
	display: inline-block;
    visibility: none;
}

.label {
	cursor: pointer;
	position: relative;
	display: flex;
	padding-top: 3px;
	padding-left: 7px;
	padding-bottom: 3px;
	padding-right: 7px;
	border-radius: 7px;
	margin-bottom: 2px;
	margin-right: 2px;
	background: rgba(255, 255, 255, 0);
	visibility: none;
	opacity: 1;
	z-index: 2;
	font-size: 15px;
	font-weight: 200;
	letter-spacing: 0.1px;
    font-family: 'thin';
}

#grid {
	position: relative;
	height: calc(140vw + 140px);
}

#grid img {
	cursor: pointer;
	opacity: 1;
	/*    transition:0.3s;*/
}


/*darken image on hover*/

.img1:hover img {
	cursor: pointer;
	transition: 0.3s;
	animation-name: fadebackin;
	animation-duration: 200s;
	animation-timing-function: ease-in-out;

}

.img2:hover img {
	cursor: pointer;
	transition: 0.3s;
	animation-name: fadebackin;
	animation-duration: 200s;
	animation-timing-function: ease-in-out;

}

.showreel:hover img {
	cursor: pointer;
	transition: 0.3s;
	animation-name: fadebackin;
	animation-duration: 200s;
	animation-timing-function: ease-in-out;

}

.img3:hover img {
	cursor: pointer;
	transition: 0.3s;
	animation-name: fadebackin;
	animation-duration: 200s;
	animation-timing-function: ease-in-out;

}

.img4:hover img {
	cursor: pointer;
	transition: 0.3s;
	animation-name: fadebackin;
	animation-duration: 200s;
	animation-timing-function: ease-in-out;

}

.img5:hover img {
	cursor: pointer;
	transition: 0.3s;
	animation-name: fadebackin;
	animation-duration: 200s;
	animation-timing-function: ease-in-out;

}

.img6:hover img {
	cursor: pointer;
	transition: 0.3s;
	animation-name: fadebackin;
	animation-duration: 200s;
	animation-timing-function: ease-in-out;

}

.img7:hover img {
	cursor: pointer;
	transition: 0.3s;
	animation-name: fadebackin;
	animation-duration: 200s;
	animation-timing-function: ease-in-out;

}

.img8:hover img {
	cursor: pointer;
	transition: 0.3s;
	animation-name: fadebackin;
	animation-duration: 200s;
	animation-timing-function: ease-in-out;

}

.img9:hover img {
	cursor: pointer;
	transition: 0.3s;
    animation-name: fadebackin;
	animation-duration: 200s;
	animation-timing-function: ease-in-out;
	
}

.img10:hover img {
	cursor: pointer;
	transition: 0.3s;
	animation-name: fadebackin;
	animation-duration: 200s;
	animation-timing-function: ease-in-out;
}

@keyframes fadebackin {
	0% {
		opacity: 0.6;
	}
	100% {
		opacity: 0.61;
	}
}


/*show project disciplines on hover*/

.tagsshowreel {
	display: inline-flex;
	visibility: hidden;
}

.tags1 {
	display: inline-flex;
	visibility: hidden;
}

.tags2 {
	display: inline-flex;
	visibility: hidden;
}

.tags3 {
	display: inline-flex;
	visibility: hidden;
}

.tags4 {
	display: inline-flex;
	visibility: hidden;
}

.tags5 {
	display: inline-flex;
	visibility: hidden;
}

.tags6 {
	display: inline-flex;
	visibility: hidden;
}

.tags7 {
	display: inline-flex;
	visibility: hidden;
}

.tags8 {
	display: inline-flex;
	visibility: hidden;
}

.tags9 {
	display: inline-flex;
	visibility: hidden;
}

.tags10 {
	display: inline-flex;
	visibility: hidden;
}

.tagsnextproject {
	display: inline-flex;
	visibility: hidden;
}

.showreel:hover .tagsshowreel {
	visibility: visible;
}

.img1:hover .tags1 {
	visibility: visible;
}

.img2:hover .tags2 {
	visibility: visible;
}

.img3:hover .tags3 {
	visibility: visible;
}

.img4:hover .tags4 {
	visibility: visible;
}

.img5:hover .tags5 {
	visibility: visible;
}

.img6:hover .tags6 {
	visibility: visible;
}

.img7:hover .tags7 {
	visibility: visible;
}

.img8:hover .tags8 {
	visibility: visible;
}

.img9:hover .tags9 {
	visibility: visible;
}

.img10:hover .tags10 {
	visibility: visible;
}


/*position images with disciplines on hover*/

.showreel img {
	position: relative;
	margin-top: -30px;
}

.img1 img {
	position: relative;
	top: -30px;
}

.img2 img {
	position: relative;
	top: -30px;
}

.img3 img {
	position: relative;
	top: -30px;
}

.img4 img {
	position: relative;
	top: -30px;
}

.img5 img {
	position: relative;
	top: -30px;
}

.img6 img {
	position: relative;
	top: -30px;
}

.img7 img {
	position: relative;
	top: -30px;
}

.img8 img {
	position: relative;
	top: -30px;
}

.img9 img {
	position: relative;
	top: -30px;
}

.img10 img {
	position: relative;
	top: -30px;
}

#projectTitle {
	padding-left: 20px;
	font-size: 24px;
	color: #8a8988;
}

.name {
	transition: opacity 0.3s;
	margin-top: 15px;
}

.row1 {
	position: absolute;
	width: calc(100vw - 40px);
	display: inline-flex;
	flex-direction: row;
	position: relative;
	left: 30px;
}

.row2 {
	position: absolute;
	top: calc(40vw + 40px);
	width: calc(100vw - 60px);
	display: flex;
	flex-direction: row;
	margin-left: 30px;
}

.row3 {
	position: absolute;
	top: calc(20vw + 20px);
	width: calc(100vw - 40px);
	display: flex;
	flex-direction: row;
	position: relative;
	left: 30px;
}

.row4 {
	position: absolute;
	top: calc(80vw + 80px);
	width: calc(100vw - 60px);
	display: flex;
	flex-direction: row;
	margin-left: 30px;
}

.row5 {
	position: absolute;
	top: calc(100vw + 100px);
	width: calc(100vw - 40px);
	display: flex;
	flex-direction: row;
	left: 30px;
}

.row6 {
	position: absolute;
	top: calc(120vw + 120px);
	width: calc(100vw - 60px);
	display: flex;
	flex-direction: row;
	margin-left: 30px;
}

#small {
	height: calc(20vw);
	max-height: calc(20vw);
	width: calc((100% / 3));
	margin-top: 20px;
}

#tall {
	width: calc((100% / 3));
	height: calc(40vw + 20px);
	margin-top: 20px;
}

#big {
	height: calc(40vw + 20px);
	width: calc((100% / 3)*2);
	overflow: hidden;
	margin-top: 20px;
}

.insidetall {
	width: calc(100% - 20px);
	overflow: hidden;
	height: 100%;
	background-color: black;
}

.next-project{
    display: block;
    width: 100vw;
    max-height:65vh;
    overflow: hidden;
    cursor: pointer;
    padding-top: 20px;
}

.nextp{
    margin-bottom: 20px;
    padding-bottom:5px;
    color:white;
    border-bottom:1.2px solid;
    width: 110px;
    font-size: 20px;
}

.nextp:hover{
    color:#8a8988;
}


#nextproject {
	padding-left: 30px;
	display: inline-block;
	width: 61vw;
	font-size: 53px;
	line-height: 54px;
	color: #ebeaeb;
    margin-bottom: 120px;
}

.insidenext-project {
	width: calc(100% - 60px);
    margin-left:30px;
	overflow: hidden;
	height: 100%;
	background-color: black;
}

.insidebig {
	width: calc(100% - 20px);
	overflow: hidden;
	height: 100%;
}

.insidesmall {
	width: calc(100%);
	overflow: hidden;
	height: 100%;
}

.bottombar {
	padding-left: 30px;
	height: 30px;
	font-size: 20px;
}

progress {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-color: transparent;
	color: white;
}

progress::-webkit-progress-bar {
	background-color: transparent;
}

progress::-webkit-progress-value {
	background-color: white;
}

progress::-moz-progress-bar {
	background-color: white;
}

.progress-container {
	width: 100%;
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	height: 3px;
	display: block;
}

.progress-bar {
	background-color: white;
	width: 0%;
	display: block;
	height: inherit;
	transition: ease 0.5s;
}




.img-grid{
    background-color:black; 
    height:100%; min-width: 100%;
    object-fit: cover;
}
.topsection{
    margin-left:30px;
    z-index: 2;
    position: absolute;
    }


   
.hide-desktop{
    display: none;
}
.hide-desktop2{
    display: none;
}

.hide-desktop3{
    display: none;
}

.darktext{
    color:#8a8988;
}

.profile-notes{
    min-height: calc(100vh - 110px);
    margin-top:0px;
    padding-top:30px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 24px;
    width: calc(100vw - 20px);
    font-family: 'thin', Sans-Serif;
}

.widthprofilenotes{
    padding-left:10px;
    padding-right:10px;
}

.profiledescheading{
    line-height:30px;
}
.education{
    width: calc(100% * (5/12)); margin-right: calc(100%/12);
    -webkit-order: 1; /* Safari 6.1+ */
    order: 1;
}
.capabilities{
    width: calc(100% * (5/12)); margin-right: calc(100%/12);
    -webkit-order: 4; /* Safari 6.1+ */
    order: 4;
    margin-top:60px;
}
.capabilities2{
     width: calc(100% * (5/12));
    -webkit-order: 5; /* Safari 6.1+ */
    order: 5;
}
.experience{
   width: calc(100% * (5/12)); margin-right: calc(100%/12);
    -webkit-order: 2; /* Safari 6.1+ */
    order: 2;
    
}
.acknowledgments{
    width: calc(100% * (5/12)); margin-right: calc(100%/12);
    -webkit-order: 3; /* Safari 6.1+ */
    order: 3;
    margin-top:60px;
}
.freelance{
    width: calc(100% * (5/12)); margin-right: calc(100%/12);
    -webkit-order: 6; /* Safari 6.1+ */
    order: 6;
    margin-top:60px;
}

.contact{
    width: calc(100% * (5/12));
    -webkit-order: 7; /* Safari 6.1+ */
    order: 7;
    margin-top:60px;
    margin-bottom:30px;
}
.profile-desc3{
    width:100vw;
    
}
.hrblackprofile{width:100vw; margin-left:-30px; border-top: 2px solid black;}
 


#projectservices{
    padding-left:30px;
    padding-bottom: 40px;
    font-size:20px;
    line-height:24px;
    color:white;
    font-family: 'thin', Sans-Serif;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;   
}
.widthservices{
    display: inline-block;
    align-content: flex-start;
}
.widthservices2{ 
    display: inline-block;
    padding-left: 40px;
    align-items: flex-start;  }

.services{
    display:flex;
}
.padding-bottom{
    margin-bottom: 10vh;
}
.columnstext2{
    column-count: 1;
    margin-top:40px;
}

.text{
    color:#8a8988;
    padding-bottom: 40px;
}

.padding-image{padding-left:10px; padding-right: 10px;}
.margin-image{margin-left:10px; margin-right: 10px;}
.margin-image2{margin-left:20px; margin-right: 20px;}

.right{ width: calc(100vw - 40px);
    margin-left: 20px;
    display: flex; 
    justify-content: flex-end;  
}
.left{ width: calc(100vw - 40px);
    margin-left: 20px;
    display: flex; 
    justify-content: flex-start;  
}

.three{ width:calc( 100% * (2/3)  ) ; display:flex;}
.nine{ width:calc( 100% * (9/12)  ) ; }

.third{ width: calc( (100vw - 40px) / 3);display:flex;   
}
.third2{ width: calc( (100vw - 40px) / 3);display:flex;}

.one{ width:calc( 100% * (1/3)) ; }

.half{ width:calc((100%) / 2 ); display:flex;}

.skinthalf{
    width:calc((100%) / 2 ); display:flex;
}
.half2{ width:calc((100%) / 2 ); display:flex;}

.vert-spacing{margin-top:30px;}

.kara-senses{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: ew-resize;
}
.kara-sense{
    width: calc( ((100vw - 40px) / 6) + 20px );
    margin-left:10px;
    margin-right:20px;
}
.icon{ width:calc(100% / 2);
padding-right: 20px;}

.kara-sense p{
        margin-top: 18px;
    }
.kara-sense h2{
        margin-top: 28px;
    }
h2{
    color:white;
    font-family: 'thin', Sans-Serif;
    font-size: 28px;
}

.split{
    display: flex;
    flex-direction: row;
}

.stills{
    margin-top:20px;
}

#grid a {
    display: block;
    color: black;
}

   .accordion h1{
         color:white;
     }    
.accordion {
  background-color: #232323;
  color:white;
  cursor: pointer;
  padding-left: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: calc(100% - 60px);
  margin-left: 30px;
  margin-top:5px;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.3s;
}

.show{
    opacity:1;
}
.hide{
    opacity:1;
}

 .accordion:hover  h1{ 
  color: #8a8988;
}

.padding-bottomh1{
    padding-bottom:50px;
}

.arrow1{
    opacity:1;
}

#btn1:hover #arrow1{
    opacity:0.5;
}
#btn2:hover #arrow2{
    opacity:0.5;
}
#btn3:hover #arrow3{
    opacity:0.5;
}


.rotate{
    transform: scale(1,-1);
}

.panel {
  margin-left: 30px;
  margin-right: 30px;
  display: none;
  background-color: #232323;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 40px;
  overflow: hidden;
}
     button{
        align-content: center;
        display: flex;
         justify-content: space-between;
     }
     button img{
         max-width: 46px;
         align-self:center;        
         margin-right: 10px;
     }

.subhead{
    font-size: 18px;
    
}



.rotated{
    visibility: hidden;
     transform:rotate(25deg); 
    -webkit-transform:rotate(25deg); 
    -moz-transform:rotate(25deg); 
    -o-transform:rotate(25deg); 
}

.half2 img{
    height:8px;
    width:8px;
    margin-left: 6px;
}

.bluedotsposition{
    margin-left:20px;
}

.personalitytraits{
    margin-right:20px;
}

/*slideshow*/
.mySlides {    
    
    width: 100%;
    display: flex;
    background-color: white;
    
}

.mySlides img{
    width: calc((100vw - 40px) * 6/12);
    background-color: white;
    width: 100%;
    height: 100%;
}

.next{
    margin-right: 10px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer; 
  user-select: none;
    position: relative;
    bottom: 20px;
}

.nextprevious{
    font-size: 24px;
    transition: 0.2s;
}

.nextprevious:hover{
    color:white;
    transition: 0.2s;
}
.numbertext {
  width:30%;
  margin:auto;
  text-align:center;
  color: white;
}
.caroselbuttons{
        display: flex;
        justify-content: space-between;
        
    }
.twotypefaces{
    display:flex;
    flex-direction: column;
}
.mobile-only{
    display: none;
}

.navbarbg{
    opacity:1;
}
.topblock{
    height: 620px;
    max-height: 80vh;
    display:flex; 
    align-items: flex-end;
}

.rightvideo{
     margin:auto;
    }
.emotions2{max-width:30vw;
mix-blend-mode: difference;
opacity:0.5;
}

        .emotions{
        padding-top: 30px; 
        padding-right: 30px;
        padding-left: 30px;
        margin-left:30px;
        margin-right:30px;


     
    }

.skintletters{
    padding-left:20vw; 
    padding-right:20vw;
    width: 100%; 
    max-height: 100vw;
    background-color:black;
}

.skintprogramme{
      padding-left:15vw; 
    padding-right:15vw;
    width: 100%; 
    max-height: 100vw;
    background-color:white;  
    }

.walkthrough{
    width:calc((100vw * (5/12)) - 60px);
    margin:auto;
    display: flex;
}

.fullwidthvideo{
    width:calc(100vw - 60px);
}

.topcaption{
    margin-bottom: 30px;
}

h3{
    color: white;
}

    .face{
        margin-top: 0px;
        margin-bottom: 0px;
        
        width:calc(100vw - 60px);
        max-height: 100vh;
     
   
    }

        .halfwidthvideo{
    width:calc(50vw - 40px);
}


  
.motyf-grid{margin-top:20px;
width:calc(50vw-40px);
    background-color:black;
} 

.banishedvideo{
    display:flex;
    margin:auto;
    width: calc(100vw - 60px);
    max-height: 90vh;
    justify-content: center;
}

.next-project:hover .white {
    color:#8a8988;
    transition: 0.3s;
}
.next-project:hover p {
    color:#8a8988;
    transition: 0.3s;
}
.next-project:hover img {
    opacity: 0.8;
    transition: 0.3s;
}

.next-project:hover .tagsnextproject {
	display: inline-flex;
	visibility: visible;
}

.next-project:hover .label {
    color:black;
}

.posterfeed{
    width: 100%;
    padding-top:10%;
    padding-left:17%;
    padding-right:17%;
    padding-bottom:10%;
    background-color: rgba(30,30,30)
}

@media only screen and (max-width: 1300px) {
    #header {
	width: calc(65vw);
}
    #headerprofile{
    width: calc(69vw);
    }
    
    #nextproject{
    width: calc(65vw + 30px);
    }
    
    .testme{min-height: 520px;}
}

video{
    background-color: black;
}


@media only screen and (max-width: 600px) {
    
    .posterfeed{
    width: 100%;
    padding-top:0%;
    padding-left:0%;
    padding-right:0%;
    padding-bottom:0%;
    background-color: rgba(30,30,30)
}
    
    .profilebio{
    font-size: 34px;
    line-height: 38px;
}
    
    .topblock{
    height: 620px;
    max-height: 70vh;
    display:flex; 
    align-items: flex-end;
}
    
    .padding-bottom{
    margin-bottom: 5vh;
}
    
    h2{
    color:white;
    font-family: 'thin', Sans-Serif;
    font-size: 21px;
}
    
    .margin-image2{margin-left:10px; margin-right: 10px;}
    
.banishedvideo{
    display:flex;
    margin:auto;
    width: calc(100vw - 40px);
    max-height: 90vh;
    justify-content: center;
}
    
    .emotions2{max-width:50vw;
    }
   
    .fullwidthvideo{
    width:calc(100vw - 40px);
}
    
        .halfwidthvideo{
    width:calc(100vw - 40px);
}
    
    .walkthrough{
    width:calc(100vw - 40px);
}
    
.skintletters{
    padding-left:0px; 
    padding-right:0px;
    width: 100%; 
    max-height: 150vw;
    background-color:black;
}
    
    
    
    
    .emotions{
      padding-top: 20px; 
        padding-right: 20px;
        padding-left: 20px;
        margin-left:20px;
        margin-right:20px;

    }
    

    
    .mySlides {    
    width: calc(100vw - 40px);
    display: flex;
}
    
    .insidenext-project {
	width: calc(100% - 40px);
    margin-left:20px;
	overflow: hidden;
	height: 100%;
	background-color: black;
}
    
    .nextprojecttopbar{
        margin-bottom: -30px;
    }
    
    .nextp{
       
       
    }
    
.next-project{

    padding-top: 0px;
}
    
    .text{
    color:#8a8988;
    padding-bottom: 40px;
    max-width:95vw;
}
    
    .mobile-only{
    display: block;
}
    
 .kara-sense h2{
        margin-top: 10px;
    } 
    .kara-sense p{
        margin-top:0px;
    }
    
.kara-senses{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    overflow-x: scroll;
}
    
    .twotypefaces{
     flex-direction: column-reverse;
}
    
    .accordion {
        width: calc(100% - 40px);
        margin-left: 20px;
  }
    
    .panel{
    margin-left:20px;
    margin-right:20px;
    }
    p {
    font-size: 19px;
    line-height: 24px;
}
    
       .kara-sense p {
    font-size: 17px;
    line-height: 21px;
}
    
    
    .profile-notes p{
    font-size: 24px;
    line-height: 28px;  
    }
    
    h1 {
	font-size: 28px;
	line-height: 34px;
}
    
    .split{
    flex-direction: column;
}
  
    .kara-sense h1{
        display: inline;
    }
    
    .kara-sense h1{
        margin-top: 0px;
    }
    .kara-sense p{
        margin-bottom: 28px;
    }
    
.kara-sense{
    display:inline-block;
    flex-direction: column;
    min-width: 55vw;
    margin-left:10px;
    margin-right:10px;
    margin-top:20px;
    border-right:2px solid black;
    padding-right:20px;
}

    .kara-sense desc{
        width: 80%;
    }
    
.icon{ 
display: block;    
width:70px;
padding-right: 20px;}
    
.one{ width:calc(100vw - 20px); padding-left:10px; padding-right: 10px;} 
    
.three{ width:calc(100vw - 20px ); 
    display:flex;}
    
    .nine{ width:calc( 100vw - 40px  ) ; 
    justify-content: center;
    display: flex;}
    
.third {
    width: calc( (100vw - 40px) );
    display:flex;
}
        
.third2 {
    width: calc( (100vw - 20px) );
    display:flex;
}

.half{ width:calc((100vw - 20px) ); padding-left:10px; padding-right: 10px;}
.half2{ width:calc((100% ) ); padding-left:10px; padding-right: 10px;}

.skinthalf{ 
    width:100%; 
    display:flex;
    max-width: calc(100vw - 30px);
    margin-left:5px;
}
.skinthalf .padding-image{ 
    padding-left:5px; 
    padding-right:5px;
}
    
.skinthalf .stills{
     margin-top:10px;   
}

.right{
    width: calc(100vw - 20px);
    margin-left: 10px;
    justify-content: flex-start;
    display: flex;  
    }
    

    

.left{  width: calc(100vw - 20px); 
        display: flex;  
        margin-right: 10px;
        margin-left: 10px; }
    
.vert-spacing{margin-top:20px;}
    
    .columnstext2{
    column-count: 1;
    margin-top:20px;
}
    #projectservices{
    padding-left:20px;
    padding-bottom: 40px;
    font-size:20px;
    line-height:24px;
}    
    .widthservices2{padding-left: 40px;}
    
    .hrblackprofile{ margin-left:-20px;}
    
.education{
    width: calc(100% - 20px); margin-right: 0;
    -webkit-order: 1; /* Safari 6.1+ */
    order: 1;
}
.capabilities{
    width: calc(100% - 20px);
    -webkit-order: 4; /* Safari 6.1+ */
    order: 4;
    margin-top:0px;
}
.capabilities2{
     width: calc(100% - 20px);
    -webkit-order: 5; /* Safari 6.1+ */
    order: 5;
}
.experience{
   width: calc(100% - 20px);   margin-right:0;
    -webkit-order: 3; /* Safari 6.1+ */
    order: 3;
    margin-top:0px;
}
.acknowledgments{
    width: calc(100% - 20px);
    -webkit-order: 2; /* Safari 6.1+ */
    order: 2;
    margin-top:0px;
}
.freelance{
    width: calc(100% - 20px);
    margin-top:0px;
}
.contact{
    width: calc(100% - 20px);
    margin-top:0px;
}
    
    .profile-notes{
    padding-top:30px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 24px;
    width: calc(100vw - 20px);
    margin-left:0px;
    
}
    
.widthprofilenotes{
    
    
}
    
    
    .topsection{
        margin-left:20px;
        z-index: 1;
    }
    
    .hide-desktop{
    display: inline;
}

        .hide-desktop3{
    display: block;
}

    
    .sticky {
  position: fixed;
  top: -300px;
  width: 100%;
}
    
    #header {
    position: absolute;
    margin-top: 0px;
	width: calc(100vw - 40px);
	font-size: 34px;
    line-height: 38px;
	letter-spacing: 0px;
	font-weight: 400;
    margin-bottom: 300px;
    margin-top:45px;
}
    
    #nextproject{
    font-size: 34px;
    line-height: 38px;
    width: calc(100vw - 40px);
    padding-left:20px;
    padding-top:45px;
    margin-bottom:30px;
        
    }
    
#headerprofile{
    position: absolute;
    margin-top: 0px;
	width: calc(100vw - 40px);
	
	letter-spacing: 0px;
	font-weight: 300;
    margin-bottom: 0px;
    margin-top:45px;
}

    
    nav {
    padding-left: 10px;
        left:0px;
    }
    
    .hide-mobile{
        display:none;
    }
.img-grid{
    background-color:black; 
    width: 100%;
    height:auto; 
    object-fit:contain;
}

#small {
	max-height:100%;
	width: 100%;
	margin-top: 20px;
    height: auto;
}

#tall {
    
	width: 100%;
	margin-top: 20px;
    height:100%;
}

#big {
	height: auto;
	width: 100%;
	overflow: hidden;
	margin-top: 20px;
}
    
 .showreel {
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}   
    
.row1 {
	position: absolute;
	width: calc(100vw - 20px);
	display: inline-flex;
	flex-direction: row;
	position: relative;
	left: 20px;
    flex-direction: column-reverse;
    height: auto;
}

.row2 {
	position: relative;
	width: calc(100vw - 20px);
	display: flex;
	margin-left: 20px;
    flex-direction: column;
    height: auto;
    top:0px;
   
}

.row3 {
	position: relative;
	width: calc(100vw - 20px);
	display: flex;
	left: 20px;
    flex-direction: column;
    height: auto;
    top:0px;
    
    
}

.row4 {
	position: relative;
	width: calc(100vw - 20px);
	display: flex;
	margin-left: 20px;
    flex-direction: column;
    height: auto;
    top:0px;
}

.row5 {
	position: relative;
	width: calc(100vw - 20px);
	display: flex;
	left: 20px;
    flex-direction: column-reverse;
    height: auto;
    top: 0px;
}

.row6 {
	position: relative;
	width: calc(100vw - 20px);
	display: flex;
	margin-left: 20px;
    flex-direction: column;
    height: auto;
    top: 0px;
    margin-top:0;
}



.insidetall {
	width: calc(100% - 20px);
	overflow: hidden;
	height: auto;
	background-color: black;
}

.insidebig {
	width: calc(100% - 20px);
	overflow: hidden;
	height: auto;
}

.insidesmall {
	width: calc(100% - 20px);
	overflow: hidden;
	height: auto;
}

    
.tagsshowreel {
	display: inline-flex;
	visibility: visible;
    display: none;
}

.tags1 {
	display: inline-flex;
	visibility: visible;
    display: none;
}

.tags2 {
	display: inline-flex;
	visibility: visible;
    display: none;
}

.tags3 {
	display: inline-flex;
	visibility: visible;
    display: none;
}

.tags4 {
	display: inline-flex;
	visibility: visible;
    display: none;
}

.tags5 {
	display: inline-flex;
	visibility: visible;
    display: none;
}

.tags6 {
	display: inline-flex;
	visibility: visible;
    display: none;
}

.tags7 {
	display: inline-flex;
	visibility: visible;
    display: none;
}

.tags8 {
	display: inline-flex;
	visibility: visible;
    display: none;
}

.tags9 {
	display: inline-flex;
	visibility: visible;
    display: none;
}

.tags10 {
	display: inline-flex;
	visibility: visible;
    display: none;
}

/*position images with disciplines on hover*/

.showreel img {
	position: relative;
	margin-top: 0px;
}

.img1 img {
	position: relative;
	top: 0px;
}

.img2 img {
	position: relative;
	top: 0px;
}

.img3 img {
	position: relative;
	top: 0px;
}

.img4 img {
	position: relative;
	top: 0px;
}

.img5 img {
	position: relative;
	top: 0px;
}

.img6 img {
	position: relative;
	top: 0px;
}

.img7 img {
	position: relative;
	top: 0px;
}

.img8 img {
	position: relative;
	top: 0px;
}

.img9 img {
	position: relative;
	top: 0px;
}

.img10 img {
	position: relative;
	top: 0px;
}

#projectTitle {
	padding-left: 20px;
	font-size: 24px;
	color: #8a8988;
}
}



@media only screen and (max-width: 600px) {
    
    #projectservices{
    padding-bottom: 20px;
}  
    
    #header{
    width: calc(100vw - 40px);
}
    #nextproject{
        width: calc(100vw - 20px);
    }
    #headerprofile{
    width: calc(100vw - 40px);
}
    }


@media only screen and (max-width: 550px) {
    .hide-desktop2{
    display: inline;
}
    }

@media only screen and (max-width: 450px) {
     
        .text{
    color:#8a8988;
    padding-bottom: 40px;
    max-width:95vw;
}
    
    #header {
    position: absolute;
    margin-top: 0px;
	width: calc(100vw - 40px);
	font-size: 25px;
    line-height: 28px;
	letter-spacing: 0px;
	font-weight: 400;
    margin-bottom: 300px;
    margin-top:45px;
}
        .profilebio{
    font-size: 25px;
    line-height: 28px;
}
    
     #nextproject{
    font-size: 25px;
    line-height: 28px;
    }
    #headerprofile{
    width: calc(100vw - 40px);
}


}


@media only screen and (min-width: 1800px) {

    
   
}
