::selection {
  /* Change highlight background color to black */
  background: #fcf113;
  /* Change highlight text color to red */
  color: black !Important;
}

.highlighted{
    background: rgb(252,241,19);
    background: linear-gradient(0deg, rgba(252,241,19,1) 90%, rgba(255,255,255,0) 50%);
}

body{
    margin: 0px;
    padding:0px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
/*text*/
h1{
    font-family: 'portada', serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 1.4;
    cursor: default;
    font-style: normal;
    margin: 0px;
    padding:0px;
}
h2{ font-family: 'portada', serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.35;
    margin: 0px;
    padding:0px;
}
h3{ font-family: 'portada', serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.54;
    margin: 0px;
    padding:0px;
    
}
h4{
    font-family: 'adelle', sans-serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    margin: 0px;
    padding:0px;
    letter-spacing: 0.2px;
}
h5{
    font-family: 'courier-std', monospace;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    opacity: .54;
    margin: 0px;
    padding:0px;
}
p{  font-family: 'adelle', serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    cursor: default;
    margin: 0px;
    padding:0px;
    opacity: 0.93;
    letter-spacing: 0.2px;
}
nav a {
    font-family: 'courier-std', monospace;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: black;
}


.card_button{
    font-family: 'courier-std', monospace;
    text-decoration: none;
    font-weight: 300;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: .54;
}
.active {
    opacity: 1;
}
.header_button{
    font-family: 'courier-std', monospace;
    opacity: 1;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
    
}
footer a{
    font-family: 'courier-std', monospace;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: .54;
    padding-left:12px;
    padding-right:12px;
    height:44px;
    display: flex;
    align-items: center;
    margin-left:12px;
    max-width: 1800px;
}
footer a:hover{
    opacity: 1;
}
.details_text{
    font-family: 'courier-std', monospace;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    cursor: #2D1A00;
}


.sansserif_bold{
    font-weight: 700;
}
.serif_bold{
    font-weight: 600;
}
.small_text{
    font-family: 'courier-std', monospace;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}
/*colour*/
.white_text a:-webkit-any-link {
    color: white !Important;
}
.white_text {
    color: #FFFFFF !Important;
}


footer{color:white;}


footer a:-webkit-any-link{color:white;}

.background_1{background-color: #FDFDFC;}
.background_2{background-color: #EEEFEC;}
.background_3{background-color: #E2E2DF;}
.background_4{background-color: #1A1A1A;}
.background_5{background-color: #111111;}
/*Nav*/
nav{
    padding: 16px 12px 0px 12px;
    display:flex;
}
nav a{
    padding:8px 12px 8px 12px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

nav a i{
    height:4px;
    width: 4px;
    margin:8px;
    border-radius: 4px;
    transition-property: opacity;
    transition-duration: 200ms;
}
.closeicon{
    height:24px;
    width: 24px;
    margin-right: 16px;
    background-image: url(../img/close.svg);
    background-position: top;
    background-size: cover;
    transition-property: opacity;
    transition-duration: 200ms;
}

.close {
    flex-direction: row-reverse
}
nav a:hover{
    opacity:1;
    transition-property: opacity;
    transition-duration: 200ms;
}
nav a:visited{
color:black;
}

.dark{
        background-color: black;
}

.white{
    background-color: white;
}

section{
    width:100%;
    display:flex;
    flex-direction: column;
    max-width: 1800px;
}

magicsection{
    width:100%;
    display:flex;
    flex-direction: column;
}

.full{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top_header{
    display: flex;
    flex-direction:column;   
    min-height: 80vh;
}
.top_header h1{
    margin: 80px 24px 80px 24px;
}


.project_header h1{
    margin: 8px 24px 40px 24px;
    max-width:612px;
}
.project_header h5{

    max-width:612px;
    margin:64px 24px 8px 24px;
}

.project_header .list{
    display: flex;
    flex-direction: row;
    margin:0px -24px 80px -24px;
    width:100%;
}
.project_header .list h4{
    margin:0px 48px 0px 48px;
}

.project_header{
    display: flex;flex-direction: column;
}

.header_button{
    height: 44px;
    display: inline-flex;
    width: 200px;
    align-items: center;
    padding-left:12px;
    margin-left: 12px;
    margin-bottom: 32px;
    transition-property: opacity;
    transition-duration: 200ms;
    font-size: 16px;
        line-height:24px;
}
.header_button:hover{
    opacity: 1;
    transition-property: opacity;
    transition-duration: 200ms;
}

a:visited{
    color:black;
}
a{text-decoration: none;}


.arrow_down_black{
    width:24px;
    height:24px;
    margin:12px;
    background-image:url(../img/arowdownblack.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-45deg);
}

.arrow_upright_black{
    display: inline-block;
    width:48px;
    height:48px;
    margin:0px;
    background-image:url(../img/arowdownblack.svg);
    transform: rotate(-135deg) translate(-8px, -8px);
    background-repeat: no-repeat;
    background-size: contain;
}
.underline-link{
    display:inline-block;
    border-bottom: 2px solid black;
}

.underline-link:hover{
    display:inline-block;
    border-bottom: 0px solid black;
}
.arrow_down_white{
    width:24px;
    height:24px;
    margin:12px;
    background-image:url(../img/arowdownwhite.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-45deg);
}

.top_section{padding:16px 0px 24px 0px;}
.top_section_2{padding:40px 0px 68px 0px;}
.top_section_2 h5{margin-bottom:16px;margin-top:8px;}
.section_title{margin-left: 24px; margin-bottom:16px;}
.card{
    display:flex;
    flex-direction: column;
    padding:0px;
    border-radius: 16px;
}

.aboutme{
    display:flex;
    flex-direction: column;
    padding:0px;
    border-radius: 16px;
}
.approach_frame{
    display:flex;
    flex-direction: column;
    padding-top:32px;
    padding-bottom:8px;
}
.card_image{
    margin:24px 24px 8px 24px;
    border-radius: 16px;
    height: 50vw;
    min-height: 300px;
    overflow: hidden!Important;
}
.portrait{
    min-height: 234px;
    overflow: hidden;
}

.approachanimation{
    margin:24px 24px 8px 24px;
    border-radius: 16px;
    overflow: hidden;
    }





.card1{background-image: url(../img/RET_Plyer_thumbnail.jpg);}
.card2{background-image: url(../img/Microsoft-teams-thumbnail.jpg);}
.card3{background-image: url(../img/supportfinder_thumbnail.jpg);}
.card4{background-image: url(../img/asos-thumbnail.jpg);}
.card5{background-image: url(../img/kara_thumbnail.png);}
.card6{background-image: url(../img/feed-thumb.png);}
.card7{background-image: url(../img/motyf-hero.png);}
.card8{background-image: url(../img/vault.png);}
.card9{background-image: url(../img/Nourish%20and%20flow.png);}


.cardbgimage{
    height: 100%;
    min-height: 280px;
    width: 100%;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition-property: transform;
    transition-duration: 400ms;
    transition-timing-function: ease;
}

.cardbgimage{
    border: 16px;
}

.card:hover .cardbgimage  {
    transition-property: transform;
    transform: scale(1.05);
    transition: 400ms;
    transition-timing-function: ease;
    border: 16px;
}

.card:hover .card_image{
    border: 16px;
}

.card_text{
    flex-direction:column;
    width:auto;
    display: flex;
    padding:24px 24px 64px  24px;
}

.aboutme_text{
    flex-direction:column;
    width:auto;
    display: flex;
    padding:40px 24px 24px  24px;
}

.portrait img{
    mix-blend-mode: lighten;
    width: 100%;

}
.approachanimation img {
        border-radius: 16px;
    width: 100%;
}
.aboutme_text p{
        
        margin-bottom: 32px;
    }








.card_text h5{
    margin-bottom:16px;
}
.card_text h2 {  margin-bottom:12px;}
.card_text h4 {opacity:0.7;}

.card_button h4{
    font-size: 16px;
    line-height: 24px;
}

.card_button{
    height:44px;
    display: flex;
    align-items: center;
    margin-top:4px;
    margin-bottom:4px;
}
.arrow_right{
    margin:12px 12px 12px 6px;
    height:24px;
    width:24px;
    background-image: url(../img/arowrightdark.svg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition-property: opacity, margin;
    transition-duration: 200ms;
}

.arrow_right_white{
    margin:12px 12px 12px 6px;
    height:24px;
    width:24px;
    background-image: url(../img/arowrightwhite.svg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition-property: opacity, margin;
    transition-duration: 200ms;
}

.card:hover{
    background-color: white;
    transition-property: background-color;
    transition-duration: 200ms;
}

.white_text .card:hover{
background-color: rgba(255,255,255,0.00);   
}

.card:hover .arrow_right{
    opacity: 1;
    margin-left:12px;
    transition-property: opacity, margin;
    transition-duration: 200ms;
}
.card:hover .arrow_right_white{
    opacity: 1;
    margin-left:12px;
    transition-property: opacity, margin;
    transition-duration: 200ms;
}
 .card:hover .card_button{
    opacity: 1;
    transition-property: opacity;
    transition-duration: 200ms;
}
footer{
    margin-left: 0px;
    padding-top:44px;
    padding-bottom:12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_1{
    order: 2;
    }
.footer_2{
      order: 1;  
    }



footer .section_title{margin-left: 24px; margin-bottom:24px;}



.aboutme_text a{
    transition-property: opacity;
    transition-duration: 200ms;
}

.aboutme_text a:hover{
    opacity: 1;
    transition-property: opacity;
    transition-duration: 200ms;
}

   .about_card
    {display: flex;
        flex-direction:column;
        margin-bottom:8px;
    }



/*------------------------------------------*/

    .detail .section_title{
        height:40px;
        padding-top: 8px;
        margin-left:0px;
        margin-bottom:44px;
    }

    .detail .approach_frame , .detail .card_text{
        margin-top:0px;
padding-top:0px;
} 

.detail .approachanimation{
    height:0px;
    margin:0px;
    padding:0px;
}

    .details_block{
        margin-top:6px;
        margin-bottom:84px;
    }
    .details_block h4{
        margin-top: 32px;
    }

.details .card_text{
    margin-bottom:0px;
}

.details_frame{
    margin-bottom:-84px;
}

.detail .approach_frame, .detail .about_card, .detail .card_text{
    margin-bottom:0px;
    padding-bottom:0px;
}

.detail .approach_frame{
    margin-bottom:-32px;
}

.details_block h4{opacity:1;}

.opacity54{
    opacity: .54;
}




/*-----------------------------*/


.header-image,.header-image img{
    width: 100%;
    margin:0px;
    padding:0px;
    margin-bottom: -2px;
}

.project_section{
    margin-top:48px;
    margin-bottom:48px;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.project_section h4, .project_section p,.project_section h2, .project_section h5{
    width: calc(100% - 48px);
    max-width:612px;
    padding-left:24px;
    padding-right:24px;
}







.labeled_image h4{
    padding-left:0px;
    padding-right:0px;
    margin-bottom:24px;
    opacity:0.8;
}


.project_section h5{
margin-bottom:24px;
}
.project_section h2{
    margin-top:0px;
    margin-bottom:32px;
}

.intro_block{
    display: flex;
    flex-direction: column;

}
.project_text_block{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 612px;
    margin-top: 44px;
}

.project_image_block{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top:40px;
}
.personablock{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top:-40px;
}





.intro_block p,.intro_block h5 {
    max-width:612px;   
}

 .row_desktop{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }

.max-12{
    width: calc(100% - 0px);
    max-width:calc(1800px - 136px);
    display: flex;
    flex-direction: column;
}

.research_card{
        margin: 0px 24px 24px 24px;
        background-color: white;
        border-radius:8px;
        padding:24px; 
    }

.research_card .Quote_block{
    margin-bottom: 0px;
}


.research_card h4{
        padding:0px;
    opacity: 0.8;
    }

.drop-blue{
     filter: drop-shadow( 0px 16px 32px rgba(0,0,0,.1));
}

.user_journey_card{
        border-radius: 8px;
        margin:0px 12px 80px 12px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    width:calc(100% - 24px);
    }
 .user_journey_card h4{
opacity: 0.8;
    }
.user_journey_card .bgwhite{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 12px;
    padding-bottom: 24px; 
    padding-top:24px;
    border-radius: 8px;
    width:calc(100% - 48px);
}



.user_journey_card .box{
    background-color: white;
    text-align: center;
    padding: 24px;
    border-radius: 8px;
    width:calc(100% - 72px);
}
.vertline{
    height:16px;
    width:1px;
    background-color: black;
    opacity:0.2;
}
.video{
    background-color:grey;
}

.image_block .half,.image_block .full{
    width: calc(100% - 48px);
    display: flex;
    margin-left:24px;
    margin-bottom:24px;
    border-radius:8px;
    }

/*-----------------------*/

.persona_card{
padding: 0px;
background-color: white;
border-radius: 16px;
margin: 64px 24px 0px 24px;
display: flex;
flex-direction: column;
}

  
    
    
.persona_card .image{
    height: 100%;
    width: 100%;
    border-radius: 16px 0px 0px 16px;
}

.persona_card h2{
    margin-bottom:24px;
    opacity: 0.8; 
}
.persona_card h4{
    margin:0px;
    padding:0px;
    opacity: 0.8;
}

.Quote_block{
    display: flex;
    flex-direction: row;
    border-left: solid 4px rgba(0,0,0,0.8);
    margin-bottom:48px;
    padding-left:16px;
    width: auto;
}
 .quotetext{
width: calc(100% - 48px);
     margin-top:24px;
}




.Quote_block h3{
    font-family: 'Lora', serif;
    font-weight: 400;
    margin: 0px;
    padding:0px;
    opacity: 0.8;
}

.list_block {
    padding: 24px 24px 40px 24px;
    display: flex;
    flex-direction: column;   
}
.list_block h4{
    width:auto;
    display: flex;
    flex-direction: column;
}
.list_block h2{
    padding:0px;
}
.list_block



.persona_card .image{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    
}

.image div{
    height: 100%;
    width: 100%;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    border-radius: 16px 16px 0px 0px;
}

.persona_2{background-image: url(../img/persona1.jpg);}
.persona_1{background-image:url(../img/supportfinder_persona_michael.jpg);}
.persona_3{background-image: url(../img/supportfinder_persona3.jpg);}
.persona_4{background-image: url(../img/Persona1microsoftteams.jpg);}
.persona_5{background-image: url(../img/Persona2microsoftteams.jpg);}
.persona_6{background-image: url(../img/kara_persona_01.jpg);}
.persona_7{background-image: url(../img/kara_persona_sarah.jpg);}
.persona_8{background-image: url(../img/kara_persona_paul.jpg);}
.persona_9{background-image: url(../img/rte_persona_Derek.jpg);}
/*-----------------------*/

 .project_text_block p {
        margin-bottom:32px;
    }

li {
    margin-bottom:-32px;
}

.labeled_image{
    display: flex;
    flex-direction: column;width: 100%;
    border-radius: 8px;
    margin-left: 24px;
    margin-right:24px;
    margin-bottom: 24px;
    width: calc(100% - 48px);
}
.labeled_image img{
    border-radius: 8px;
    width: 100%;
}
.labeled_image h4{
    margin-top:32px;
}

ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 0px;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 24px;
    margin-bottom:32px;
    margin-left: 16px;
}



.colours .research_card{
      margin-bottom: 16px;  
    }


.blue{background-color: rgb(1, 87, 155)!Important; color:white;}
.off_white{background-color: #F4F3F1!Important;}
.white{background-color: rgb(255,255,255)!Important;}
.grey{background-color: #3F3F3F!Important;color:white;}
.black{background-color: rgb(0,0,0)!Important;color:white;}
.yellow{background-color: rgb(254,152,0)!Important;}
.red{background-color: rgb(211,47,47)!Important;color:white;}


.hide_mobile{
    display:none;
}
    li p {
    padding-left:0px !Important;
    padding-right:0px !Important;
}

.ul_heading {
    margin-bottom: 0px!Important;
}

.whitebox{
    width: calc(100% - 24px);
    border-radius: 8px;
    padding-top:24px;
    padding-bottom:24px;
}
.user_journey_card .smallbox{
    padding-top: 12px;
    padding-bottom: 12px;
}


h1, h2, h3, h4, p, h5, h6{
    cursor: default;
}
a .card, a card_text, a h4, a h2, a h5{
    cursor: pointer!Important;
}

.image_card{
    width: 100%;
}

.support_bg{
    background-color: #d5dbea;
}

.teams_bg{
    background-color: #D8D5EA;
}

.teams_bg .Quote_block{
    border-left: solid 4px rgba(19,14,111,1);
}
#myBtn {
    opacity: 0; /* Hidden by default */
    display: none;
    position: fixed; 
    bottom: 40px; 
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 48px;
    padding: 0px;
    height: 56px;
    width: 56px;
    background-color: rgba(255, 255, 255, 0);
    transition: 200ms;
}
#myBtn img{
    width: 56px;
    height: 56px;
}

    #myBtn:hover{
    background-color: rgba(255, 255, 255, 1);
}

.Quote_block h4{
    opacity: 0.54;
}

.research_card  h4{
    width: calc(100% - 0px);
}

footer h5{
    font-family: 'courier-std', monospace;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    opacity: .54;
    margin: 0px;
    padding:0px;
}
.password_required{
    background-image: url(../img/Lock.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height:44px;
    position: relative;
    top: -276px;
    left:24px;
}

.approachanimation{
    filter: brightness(0.85);
}

footer-nav{
    display: flex;
    flex-direction: row;
    margin-left: -24px;
    margin-top: 44px;
    margin-bottom: 12px;  
}
footer-nav .footer-nav-link{
    display: flex;
    flex-direction: column;
}

footer-nav i {
    height:4px;
    width: 4px;
    border-radius: 4px;
    margin: 8px;
}

.top_header{
    
    justify-content: space-between;
}

.top_header h1 a{
    color: black;
    transition-property: opacity 200ms;
}

.top_header h1 a:hover{ 
    opacity:0.5;  
}

.background_4 .remove{
    padding: 0px 0px 24px 0px ;
}

iframe{
    border:0px;
    width:100%; 
    height:1100px;
    max-width: calc(100vw - 40px);
    margin-left: 20px;
}

.customer{
    margin-bottom:0px;
}

@media only screen and (min-width: 756px){
    
    .aboutlistanimation{
        margin-left:16px!Important;
    }
    .card{
    flex-direction: column;
    }
    .card_image{
    margin:24px 24px -28px 24px;
    border-radius: 16px;
    height: 40vh;
    min-height: 400px;
    overflow: hidden;
}
    
iframe{
    border:0px;
    width:100%; 
    height:1100px;
    max-width: 800px;
    margin-left: 0px;
}
    
    .portrait img{
    border-radius: 16px;}
    
    .background_4 .remove{
    padding-top: 36px;
padding-bottom:36px;
}
    
.top_header{
    min-height: 80vh;
    }
    
    footer-nav{
    display: flex;
    flex-direction: row;
    margin-left: -24px;
    margin-top: 0px;
    margin-bottom: 12px;  
}
    .footer_1{
    order: 1;
    }
.footer_2{
      order: 2;  
    }
    
    footer h5{

    font-size: 16px;

}
    
.header_button{
    font-size: 18px;
    line-height:24px;
}
    
    .password_required{
    top: -376px;
    left:24px;
}
    
#myBtn {
    right: 52px;
    bottom: 64px;
    height: 56px;
    width: 56px;
}
    #myBtn img{
    width: 48px;
    height: 48px;
}
   
    #myBtn:hover{
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 1);
}
    
    .whitebox{
    width: calc(100% - 0px);
}
    
    .labeled_image h4{
    margin-bottom:56px;
}
    
    ul{
    margin-left: 0px;
}
    
    .med_image img{
        padding-left: 24px;
        padding-right:24px;
        width: calc(100% - 48px);
    }
   .labeled_image{
    margin-left: 24px;
    margin-right: 24px;
} 
    .margindesktop{
        width: calc(100% + 48px);
    }
    
    .stack_images > * {
    margin: 0px;
        width: 100%;
}
    
    .quotetext{
        margin-left:0px;
    }
    

    .image div{
    height: 100%;
    width: 100%;
     border-radius: 8px 0px 0px 8px;
} 
    .persona_card .image {
    width: 60%;
     border-radius: 8px 0px 0px 8px;
}
    
.image_block  .half{
    width: calc(50% - 120px);
    margin-left:80px;
    margin-bottom:80px;
    }
.image_block .full{
    width: calc(100% - 160px);
    margin-left:80px;
    margin-bottom:80px;
    }
    .user_journey_card .bgwhite{
    padding: 24px; 
}

    
    .user_journey_card{
        margin:0px 24px 24px 24px;
        padding:0px;
        width:auto;
    }
    .project_text_block .user_journey_card{
        margin:0px 0px 24px 0px;
    }
    .user_journey_card .box{
        width:calc(100% - 48px);
    }
    
.max-12{
    width: calc(100% - 24px);
    max-width:calc(1800px - 112px);
    
}
    
    .research_card{
        margin-bottom: 48px;
        background-color: white;
        border-radius:8px;
        padding:24px;
        width:100%;
    }
    .features .research_card{
        margin-bottom: 48px;
        background-color: white;
        border-radius:8px;
        padding:24px;
        width:auto;
    }

    
    
    .project_text_block .research_card {
        margin: 0px 0px 24px 0px;
    }
    
    .row_desktop{
        flex-direction: row;
    }

    .project_image_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top:48px;
}
    

        .personablock{
    width: 100%;
    margin-top:-40px;
}
    
    
  .project_section h4, .project_section p,.project_section h2, .project_section h5{
    width: calc(100%);
    max-width:612px;
    padding-left:0px;
    padding-right:0px;
}  


    
.project_text_block{
    display: flex;
    flex-direction: column;
    margin-left:0px;
    margin-right:0px;
    margin-top:44px;
}

.intro_block{
    max-width:612px;
    margin:0px;
}
.intro_block p,.intro_block h5 {
    margin-left:0px;
    margin-right: 0px;
}    
    
    .project_section{
    margin-top:calc(136px - 24px);
    margin-bottom:calc(184px - 24px);
}
    

    .project_header h5{
        width: 100%;
        margin-top:86px;
    }

.project_header .list{
    margin:0px -24px 160px -24px;
    max-width: calc(620px + 110px);
}
.project_header .list h4{
    margin:0px 60px 0px 60px;
}
    .detail .approachanimation{
    width: 50%;
    border-radius: 8px;
    margin:0px 40px 0px 16px;
    }
    
    .about_card
    {
        flex-direction:row;
        margin-bottom:48px;
        align-items: center;
    }
    
    

    .homecard1{
        border-radius: 16px;
    }
    
.card_text{
    flex-direction:column;
    display: flex;
    width: 50%;
    max-width: 600px;
    min-width: 300px;
    margin:66px 60px 66px 0px;
} 
    .card_text_about{
      margin:66px 40px 66px 16px;
    flex-direction:column;
    display: flex;
    width: 50%;
    padding: 24px;
    }
    
   
    .card_text_about h4{
        max-width: 680px;
    }

    .this .card_text_about h4{
        opacity: 0.7;
    }
    
.card_text top_section_2{
    flex-direction:column;
    display: flex;
    width: 50%;
    margin:66px 40px 66px 16px;
} 
.card_text h5{
    margin-bottom:24px;
    font-size: 16px;
    line-height: 24px;
}    
    
.card_text h5{margin-bottom:24px;
}
.card_text h2 {  margin-bottom:16px;
    }
.card_button h4{
    font-size: 18px;
    line-height: 24px;
}
    .card_button{
    height:44px;
    display: flex;
    align-items: center;
    margin-top:8px;
    margin-bottom:4px;
}
    
    
    
.aboutme{
    flex-direction: row;
    padding:0px;
    margin:12px 48px 12px 48px;
    border-radius: 32px;
    padding:16px;
}
    .approach_frame{
    padding:16px;
    margin:12px 48px 12px 48px;
    }

.portrait{
    width: 50%;
    border-radius: 16px;
    margin:16px 40px 16px 16px;
    border-radius: 16px;
}
    

    
.approachanimation{
    width: 50%;
    border-radius: 16px;
    margin:0px 40px 0px 16px;
    filter: contrast(1.4);
    mix-blend-mode:screen;
    }
    

.aboutme_text{
    flex-direction:column;
    display: flex;
    width: 50%;
    margin:4px 40px 0px 16px;
    padding-top: 16px;
    padding-bottom:0px;
} 
    
    


   

.hide_mobile{
        display: inline-block;
        margin-bottom: 32px;
    }
h1{ font-size: 44px;
    line-height: 1.4;
}
h2{ font-size: 32px;
    line-height: 1.35;
}
h3{ font-size: 20px;
}
h4{ font-size: 18px;
    line-height: 1.5;
}
nav a {
    font-family: 'courier-std', monospace;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: black;
}
    
.footer-nav-link {
    font-size: 18px;
}

    
p{  font-size: 20px;
    line-height: 34px;
}
.small_text{
    font-size: 18px;
    line-height: 1.55;
}

nav{padding: 32px 64px 0px 68px;
    }
    .project_header nav{
width:calc(100% - 128px);
}
.top_header h1{
    margin: 120px 80px 116px 80px;
    max-width: 70vw;
}
    .project_header{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }


.project_header h1{
    width: 100%;
    margin: 8px 0px 40px 0px;     
}
.header_button{
    margin-left:68px;
}

.top_section{
    padding-top: 36px;
     padding-bottom: 36px;
    }
.top_section_2{padding:52px 0px 80px 0px;}
 .section_title{margin-left: 80px; margin-bottom:0px;}   

.details .section_title {
    margin-bottom:40px;
    }
    
footer{
    padding-top:64px;
    padding-bottom:64px;
    padding-left:56px;
    padding-right:68px;
    flex-direction: row;
    align-items: center;
}

.footer_links{
    font-size:18px;
    line-height: 29px;
    display: flex;
    flex-direction: row;
    }
 
    .footer-links {
    font-family: 'Dm sans', serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    opacity: .54;
    color: black;
    display: flex;
    flex-direction: column;
}

footer .section_title{margin-left: 24px; margin-bottom:0px;}

.detail .approach_frame, .detail .about_card, .detail .card_text{
    margin-bottom:0px;
    padding-bottom:px;
}
    
.detail .approach_frame{
    margin-bottom:0px;
} 
    

.persona_card .image{
       height:auto; 
        min-width:400px;
    }
.persona_card{
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    margin: 88px 24px 0px 24px;}


.list_block {
    padding: 32px 48px 48px 48px;
    display: flex;
    width: 100%;
}
    
.list_block h2{margin-bottom: 32px;}
    
.colours .research_card{
      margin-bottom: 16px;  
}

.third{
            max-width: calc(33% - 48px);
        }


    .center{justify-content: center;}

.footer_link{
        font-size: 18px;
        margin-top: 8px;
    }
 .customer{
    margin-bottom:0px;
}
    
}
    
    @media only screen and (min-width: 1200px){
        
        .btmspc{
            padding-bottom: 20vh;
        }
        
        .card{
    flex-direction: row-reverse;
    padding:0px;
    margin:48px;
    margin-top: 20vh;
    border-radius: 32px;
    padding:0px;
    justify-content: space-around;
}
        
.card_image{
    height: 60vh;
    max-height: 800px;
    width: 100%;
    border-radius: 16px;
    margin:16px 40px 16px 16px;
    overflow: visible!Important;
}
        
        .about-top{
            margin-top:15vh;
        }
    
        p{
            font-size:  24px;
            line-height: 40px;
        }
        h1{
            font-size:  3.25vw;
        }
        h2{
             font-size:  38px;
            line-height: 1.35;
        }
        h3{ font-size:  22px;
            
            
        }
        h5{
            font-size:  18px;
            line-height: 24px;
        }
        h4  {font-size: 20px;
        line-height: 29px;
}
   
        .intro_block p,.intro_block h5 {
    max-width:680px;   
}
        
        .intro_block{
                max-width:680px;  
        }
        
.project_header h1{
    max-width:680px;
}
.project_header h5{
    max-width:680px;
}
.aboutme_text p{
    max-width: 680px;
    }
.project_section h4, .project_section p,.project_section h2, .project_section h5{
    max-width:680px;
}
  .project_section h4, .project_section p,.project_section h2, .project_section h5{
    max-width:680px;

}
  .project_header .list{
    margin:0px -24px 160px -24px;
    max-width: calc(680px + 110px);
}
.project_text_block {
    max-width: 680px;
}

            
        }

