


.stick{
    position:sticky;
    top:0px;
    height:200vh;
    width: 50vw;
}



#object {
    position:fixed;
    bottom:0;
    left:50vw;
    width: 50vw;
    padding-top:100px;
    background-color: blue;
    
}
#object2 {
    position:fixed;
    bottom:-100vh;
    left:0vw;
    width: 50vw;

 

}

#object3
{
    z-index:2;

}
body {
    
    background: grey;
    margin:0;
}



.rblock{height:100vh; }


.long{
    height:100vh;
}

.blue{
    height:100vh;
    
}

.lawngreen{
    background-color:lawngreen;
}


.red{
    background-color:red;
}
.white{
    background-color:white;
}

.yellow{
    background-color:yellow;
}