body{
    font-family: 'Space Mono', monospace;
    margin: 0px;
}

body { 
    background: black;
    margin:0;
    cursor: default;
}

.lightgreen{
   background-color: #c9fec6; 
}

.strongpink{
    background-color: #ff00ff
}

.yellow{
    background-color:yellow;
}

.purple{
    background-color: #b203ee;

}

    nav {
    width: 100vw;
    height:10vh;
    min-height:70px;
    background: black;
    position: absolute;
    z-index: 100;
    top:90vh;
    padding-left:3.5vw;
    padding-right:3.5vw;
    display: flex;
    align-content: center;
    justify-content:space-between;
    border-bottom: 2px solid white;
    color:white;
    cursor:pointer;
}


navoverlay{
    width: 100vw;
    height:10vh;
    min-height:70px;
    padding-left:3.5vw;
    padding-right:3.5vw;
    background: black;
    position: absolute;
    z-index: 100;
    display: flex;
    align-content: center;
    justify-content:space-between;
    
    
    color:white;
    cursor:pointer;
    }

    nav:hover {
    color:yellow;
}

nav:hover .dropdownarrow {
    display:none;
}

nav:hover .dropdownarrowyellow {
 
    color: yellow;
    display:flex;
}

.scroll-to-top:hover .arrowmobile {
    display:none;
}


    navoverlay:hover {
    color:yellow;
}

navoverlay:hover .dropdownarrow1 {
    display:none;
}

navoverlay:hover .dropdownarrowyellow1 {
 
    color: yellow;
    display:flex;
}



a{
    text-decoration: none;
}


html {
  scroll-behavior: smooth;
    transition: scroll-behavior 5s;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    scroll-snap-type: y proximity;
}

.loop{
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.first {
  position :relative;
  -webkit-animation: first 5s infinite; /* Safari 4.0 - 8.0 */
  animation: linear first 5s infinite;
    padding:5px;
}

@keyframes first {
  from {right: 0px;}
  to {right: 877px;}
}

.seconed {
  position :relative;
  -webkit-animation: seconed 5s infinite; /* Safari 4.0 - 8.0 */
  animation: linear seconed 5s infinite;
    padding:5px;
}

@keyframes seconed {
  from {right: 0px;}
  to {right: 877px;}
}

.third {
  position :relative;
  -webkit-animation: third 5s infinite; /* Safari 4.0 - 8.0 */
  animation: linear third 5s infinite;
    padding:5px;
}

@keyframes third {
  from {right: 0px;}
  to {right: 877px;}
}

.fourth {
  position :relative;
  -webkit-animation: fourth 5s infinite; /* Safari 4.0 - 8.0 */
  animation: linear fourth 5s infinite;
    padding:5px;
}

@keyframes fourth {
  from {right: 0px;}
  to {right: 877px;}
}

.fifth {
  position :relative;
  -webkit-animation: fifth 5s infinite; /* Safari 4.0 - 8.0 */
  animation: linear fifth 5s infinite;
    padding:5px;
}

@keyframes fifth {
  from {right: 0px;}
  to {right: 629px;}
}

.sixth {
  position :relative;
  -webkit-animation: sixth 5s infinite; /* Safari 4.0 - 8.0 */
  animation: linear sixth 5s infinite;
    padding:5px;
}

@keyframes sixth {
  from {right: 0px;}
  to {right: 629px;}
}



    .topbar{
    position: absolute;
    height: 10vh;
    min-height:5vw;
    top:0;
    z-index:1001;
    background-color: beige;
    cursor:default; 
    display: flex;
}

.center{
    
    
    margin-top: 0px;
    
}

.videobg
{
    margin-top: 0;
    position: absolute;
}




#mobilenavbar{
    display:flex;
    position:absolute;
    bottom: 0;
    width: 100%;
    overflow:hidden;
    z-index: 1000;
    background-color: aqua;
    height: 10vh;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.rblock{
    height:100vh;
    }





.scrolling-wrapper {
    position: static;
overflow-x: scroll;
    cursor: -webkit-grab; cursor: grab;
    width: 100vw;
  white-space: nowrap;
  overflow-x: scroll;
  
  padding-bottom: 40px;

}

.scrolling-wrapper::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
    
}
  .card1 {

    display: inline-block;
    background-color: #f894ff;
    width: 80vw;
    max-width: 400px;
    margin-left: 3.5vw;
       padding-bottom: 20px;
  }

  .card2 {
    display: inline-block;
    background-color: #f894ff;
    width: 80vw;
    max-width: 400px;
       padding-bottom: 20px;
  }

  .card3 {
    display: inline-block;
    background-color: #f894ff;
    width: 80vw;
    max-width: 400px;
    margin-right: 3.5vw;
      padding-bottom: 20px;
  }
















#video{
    height: 90vh;
}




@media only screen and (max-width: 800px) {
    
        .countdown{
        height:100vw;
        background-color: aqua;
    }
    
        .arrowmobileyellow{
    display: none;
    height: 40%;
    padding-right: 3.5vw;
    }
    
    .scroll-to-top:hover .arrowmobile {
    display:none;
}
    
    
.scroll-to-top:hover .arrowmobileyellow {
 
    color: yellow;
    display:flex;
}
    
    .attendblock{
    padding-bottom: 3.5vw;
}
    
    .hide-desktop{
        display:none;
    }
    
    
.top-link{
    
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color:black;
    color:white;
  border-bottom: 2px solid white;
    
}
.top-link2{
       padding-left: 3.5vw;
    padding-right: 3.5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color:black;
    color:white;
  
}
.top-link2:hover{
    background-color: #00ff00;
    color:black;}
.top-link:hover{
    background-color: #00ff00;
    color:black;}
    
    
    .mobilelinks{
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    height:100vh;
    overflow-y: scroll;
    font-weight: bold;
    font-size:5.5vh;
    }
    
    .details{
    margin-top: 60px;
}
    
.icon{
    min-width: 20vw;
    max-width: 20vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 20px;
    padding-bottom: 20px;
    background:rgba(0,0,0,0.1);
}
    
.dropdown{
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-bottom:0px;

}
    
.dropdownarrow{
    position: static;
    transform: rotate(180deg);
    max-width: 20vw;
    padding-left: 4vw;
    margin-right: 4vw;
    padding-top: 15px;
    margin-top:1.5vh;
    padding-bottom: 15px;
    display: flex;
    background:rgba(0,0,0,0.1);
    max-height: 40%;
    min-height: 3vh;
}
    
    .dropdownarrowyellow{
    position: static;
    transform: rotate(180deg);
    max-width: 20vw;
    padding-left: 4vw;
    margin-right: 4vw;
    padding-top: 15px;
    margin-top:1.5vh;
    padding-bottom: 15px;
    display: flex;
    background:rgba(0,0,0,0.1);
    max-height: 40%;
    min-height: 3vh;
    display:none;
}
    
    .overlay a:hover, .overlay a:focus {
  color: yellow;
}
    
    .overlay-content {
  position: absolute;
  width: 100%;
  text-align: left;
  margin: 0;
  top:0;
}
    .overlay {
  top:0;
  height: 100vh;
  width: 100vw;
  display: none;
  position: fixed;
  z-index: 9000;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 1);
}
    
    .dropdownarrow1{
    position: static;
    transform: rotate(180deg);
    max-width: 20vw;
    padding-left: 4vw;
    margin-right: 4vw;
    padding-top: 15px;
    margin-top:1.5vh;
    padding-bottom: 15px;
    display: flex;
    background:rgba(0,0,0,0.1);
    max-height: 40%;
    min-height: 3vh;
}
    
    .dropdownarrowyellow1{
    position: static;
    transform: rotate(180deg);
    max-width: 20vw;
    padding-left: 4vw;
    margin-right: 4vw;
    padding-top: 15px;
    margin-top:1.5vh;
    padding-bottom: 15px;
    display: flex;
    background:rgba(0,0,0,0.1);
    max-height: 40%;
    min-height: 3vh;
    display:none;
}
    

    
    .dropdownarrow1{
        transform: scale(-1,1);}
    .dropdownarrowyellow1{
        transform: scale(-1,1);}

    
.step{
    margin-top:-11px;
    padding-left:3.5vw;
    padding-right:3.5vw;
    }
    
 .uploaddownloadmobile{
     width: 100vw;
     margin: auto;
     display: flex;
     height:40vw;
     cursor: pointer;
     margin-bottom:11px;
}   
.download{
    height:100%;
    width:100%;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    background-color: yellow;
    background-image: url(img/greentriangle.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.upload{
    height:100%;
    width:100%;
    padding-left: 3.5vw;
    background-color: #f894ff;
    background-image: url(img/bluetriangle.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    } 
    .speakerlink{
    color: black;
}


.speakerlink:hover{
    color: yellow;
}
    
    .underline{
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.underline:hover{
    border-bottom: 2px solid yellow;
    padding-bottom: 5px;
}
    
    .spekerdescblock{
    padding-left: 30px;
    padding-right: 30px;
        white-space: normal;
}
    
    .speaker3{
    width: 80vw;
    max-width: 400px;
    
}
    

    
    .attednmobile{
        display:flex;
        justify-content: center;
       
       
    }
   
       .orange{
    background-color:#ffaa00;
    background-image: url(img/getticketgreen.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30vh;
    min-height:180px;
    margin: auto;
    margin-left:3.5vw;
    margin-right:3.5vw;
    
}
    
    
        .partners-smalllink{
        border-bottom: 2px solid white;
    }
    
            .how-smalllink{
        border-bottom: 2px solid white;
    }
    
    
        .smalllink{
    
    padding-bottom: 5px;
    color:white;
    cursor: pointer;
    
}

.smalllink:hover{
    border-bottom: 2px solid yellow;
    padding-bottom: 05px;
    color:yellow;
}
  
    
    
    .whiteunderline{
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    color:white;
}

.whiteunderline:hover{
    border-bottom: 2px solid yellow;
    padding-bottom: 10px;
    color:yellow;
}
    
.ticketslink{
    margin: auto;
    cursor: pointer;
}
    

    
    .venue{
    background-image: url(img/airbnbinside.jpg);
    background-repeat: no-repeat;
    background-size: cover;
        height:50vh;
    margin-left: 3.5vw;
    margin-right:3.5vw;
    width: 93vw;
}
    
    .treasuremap{
    height:50vh;
    margin-left: 3.5vw;
    margin-right:3.5vw;
    width: 93vw; 
    background-color:rgba(240,240,240,1);
    }
    
    .sponsor1{
    mix-blend-mode: multiply;
    margin: auto;
    min-width: 150px;
    padding: 20px;
    
    
}
    
    .sponsors{
    display: flex;
    flex-wrap: wrap;
        margin-bottom: 20px;
        margin-top: 60px;
       
}
  
  .listbox{
    display: flex;
    margin-left:-15px;
    
} 
    
.panelcontent{
    padding-bottom: 40px;
}
 .about{
    padding-top:5px;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    padding-bottom: 40px;

}
    
    .partner-content{
    padding-top:5px;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
     
    }
    
/* legal modal   */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 120000; /* Sit on top */
  
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 2px solid black;
  width: 90%;
  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.2s;
  animation-name: animatetop;
  animation-duration: 0.2s
}
    

/* Add Animation */
@-webkit-keyframes animatetop {
  from {transform: scale(0); opacity:0} 
  to {transform: scale(1); opacity:1}
}

@keyframes animatetop {
  from {transform: scale(0.5); opacity:0}
  to {transform: scale(1); opacity:1}
}

/* The Close Button */
.close {
  color: black;
  font-size: 10vw;
  font-weight:100;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  background-color: white;
  border-bottom: 2px solid black;
  color: black;
  height: 14vw;
  position:fixed;
  width: 82%;
  padding-left: 4vw;
  padding-right:4vw;
    

}
    
.modalclose{
  margin-top:0vw;
  float:right;
    }
    
.modalheading{
    
    font-size:5.5vw;
  margin-top:2.5vw;
    float:left;
    }
    


.modal-body {
  margin-top: 14vw;
  padding-left: 2vw;
  padding-right:2vw;
    
  height:80vh;
  overflow-y:scroll;
  overflow-x: hidden;
    }


.modal-body::-webkit-scrollbar {
  
   
}
 
.modal-body::-webkit-scrollbar-track {
    background-color: white;
    box-shadow: inset 2px 2px 0px white;
  
}
 
.modal-body::-webkit-scrollbar-thumb {
  background-color: black;
  border: solid white 2px;


}
   
    
 /* disclaimer modal   */

/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 120000; /* Sit on top */
  
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 2px solid black;
  width: 90%;
  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.2s;
  animation-name: animatetop;
  animation-duration: 0.2s
}
    

/* Add Animation */
@-webkit-keyframes animatetop {
  from {transform: scale(0); opacity:0} 
  to {transform: scale(1); opacity:1}
}

@keyframes animatetop {
  from {transform: scale(0.5); opacity:0}
  to {transform: scale(1); opacity:1}
}

/* The Close Button */
.close2 {
  color: black;
  font-size: 10vw;
  font-weight:100;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header2 {
  background-color: white;
  border-bottom: 2px solid black;
  color: black;
  height: 14vw;
  position:fixed;
  width: 82%;
  padding-left: 4vw;
  padding-right:4vw;
    

}
    
.modalclose2{
  margin-top:0vw;
  float:right;
    }
    
.modalheading2{
    font-size: 5.5vw;
  margin-top:2.5vw;
    float:left;
    }
    


.modal-body2 {
  margin-top: 14vw;
  padding-left: 2vw;
  padding-right:2vw;
    
  height:80vh;
  overflow-y:scroll;
  overflow-x: hidden;
    }


.modal-body2::-webkit-scrollbar {
  
   
}
 
.modal-body2::-webkit-scrollbar-track {
    background-color: white;
    box-shadow: inset 2px 2px 0px white;
  
}
 
.modal-body2::-webkit-scrollbar-thumb {
  background-color: black;
  border: solid white 2px;


}
   
    
/* terms and conditions modal   */
.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 120000; /* Sit on top */
  
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content3 {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 2px solid black;
  width: 90%;
  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.2s;
  animation-name: animatetop;
  animation-duration: 0.2s
}
    

/* Add Animation */
@-webkit-keyframes animatetop {
  from {transform: scale(0); opacity:0} 
  to {transform: scale(1); opacity:1}
}

@keyframes animatetop {
  from {transform: scale(0.5); opacity:0}
  to {transform: scale(1); opacity:1}
}

/* The Close Button */
.close3 {
  color: black;
  font-size: 10vw;
  font-weight:100;
}

.close3:hover,
.close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header3 {
  background-color: white;
  border-bottom: 2px solid black;
  color: black;
  height: 14vw;
  position:fixed;
  width: 82%;
  padding-left: 4vw;
  padding-right:4vw;
    

}
    
.modalclose3{
  margin-top:0vw;
  float:right;
    }
    
.modalheading3{
  font-size: 5.5vw; 
  margin: 0px;
  line-height: 10vw;
  margin-top:2.5vw;
  float:left;
    }
    


.modal-body3 {
  margin-top: 14vw;
  padding-left: 2vw;
  padding-right:2vw;
    
  height:80vh;
  overflow-y:scroll;
  overflow-x: hidden;
    }


.modal-body3::-webkit-scrollbar {
  
   
}
 
.modal-body3::-webkit-scrollbar-track {
    background-color: white;
    box-shadow: inset 2px 2px 0px white;
  
}
 
.modal-body3::-webkit-scrollbar-thumb {
  background-color: black;
  border: solid white 2px;


}
    
    
    
    
   
  
    
    
    
    
    
    
    
    
    
.scroll-to-top{
    display: static;
    align-items:center;
    justify-content:space-between;
    background-color: #ff00ff;

    position:absolute;
    width: 100%;
    height: 20vw;
    max-height:96px;
    min-height:44px;
    color: black;
} 

.scroll-to-top:hover{
    color: yellow;
} 
    
.arrowright{

    justify-content:flex-end;
    display: flex;
    align-items: center;
    bottom: 0px;
    position: absolute;
    height: 20vw;
    max-height: 96px;
    min-height: 44px;
    width: 100%;
    
}
    
.arrowmobile{
    
    height: 40%;
    padding-right: 3.5vw;
    }
    

    
    
.bottombar{
    display: flex;
    align-items:center;
    bottom:0px;
    position:absolute;
    height: 20vw;
    max-height:96px;
    min-height:44px;
    width:80%;
    }
    
.backtotop{
width:80%; 
padding-left: 3.5vw;
    padding-top: 0px;
    padding-bottom: 0px;
}
    
.footer{
      background-color:black; 
    width:100vw;
    bottom:-200px;
    overflow: hidden;
    z-index:10000;
/*
    min-height:600px;
    height:90vh;
*/
}
    
.footer-text{
    color: white;
    padding-left: 3.5vw;
    padding-top: 20px;
    padding-right:3.5vw;
    padding-bottom: 40px;
}


.footer-links{
    display: static;
    flex-wrap:nowrap;
    flex-direction: column;
    justify-content: flex-start;
    color: red;
    text-decoration: none;
    line-height: 15vw;
    cursor: pointer;
    font-size: 5.5vw;
    margin-bottom: 30px
}
.whiteunderlinefooter{
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    color:white;
    margin-right:3.5vw;
    margin-left:3.5vw;
    
}



.whiteunderlinefooter:hover{
    border-bottom: 2px solid yellow;
    padding-bottom: 5px;
    color:yellow;
}


.arrowright2{
   height:40px;

    
    
}

.ticketslink{
    margin: auto;
    cursor: pointer;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

    .hide-mobile {
        display:none;
    }
    
   .stuck {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

    

    #video{
    position:fixed;
    top: 10vh;
    z-index: -5;
    bottom:0;
   
    background-color: black;
    
    width: 100%;
    max-height: 80vh;
    overflow: hidden;
    
    display: flex;

    justify-content: center;
    align-content: center;

}
    
    .screenlocationsmap{
        width: 100vw;
        height: 100%;
        height: 60vh;
        max-height: 400px;
    }
    
 
    .block1{
        height: 20vh;
        background-color: black;
    }

    
    
/*navigation*/
.left-link {
   
    display: none;
   
}
.right-link{


    display: none;

}
/*

.top-link{
    padding-right:0vh;
    padding-left:0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
     height:5vw;
    min-height:55px;
    color: black;
    
}
.top-link2{
    padding-right:0vh;
    padding-left:0vh;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:5vw;
    min-height:55px;
    color:white;
}
.top-link2:hover{
    background-color: #00ff00;
    color:black;}
.top-link:hover{
    background-color: #00ff00;
    color:black;}
*/

.topdimentions{
    position:absolute;
    width: 100vw;
    height: 100vh;
   
   
}
    
   


    
 /*video*/   


  
.top-left{
    width: 100vw;
    
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top:-64px;
}    

/*  mobile-nav  */
    
    
    #navbar{
        z-index: 10000;
        background-color: aqua;
        height:10vh;
        position: absolute;
    }  

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
    
    
    
    
    
    
    
    
    
    .scroll-area {
  scroll-snap-align: none;
    scroll-snap-stop:always;

}
h1{
    font-size: 8.5vw; 
    margin: 0px;
    line-height: 10vw;
    padding-top:20px;
    padding-bottom:10px;
}

.h1{
    font-size: 8.5vw;
}

.h2{
    font-size:3.5vh;
}

p{
    font-size: 1.5vw;
    line-height: 2.2vw;
}
    
.microtxt{
    font-size:14px;
    line-height: 21px;
    width: 50%;
    padding-left:15px;
    display: inline-block;  
}
    
.txt{
    margin-top: -9px;
    font-size:14px;
    line-height: 21px;
}
    
.txt2{
    font-size:14px;
    line-height: 21px;
    padding-bottom: 40px;
}
    
.desc{
      margin-top: 5px;  
    }
    
.cameratxt{
    position:relative;
    top:-80px; 
    }
    



    
    
    
    
    
    
    
    
    
    
    .fiftydesktop{
        width:100%;
    }
    
    .howtomix{
        padding-bottom: 5px;
    }
    
    .previewlink{
        height:55.8vw;
    }
    
.instrutions{
    display:flex;
    flex-wrap: wrap;
}
.instruction1{
    width: 100%;
    display:flex;
    background-color: white;
    margin-left:3vw;
    margin-right:3vw;
    margin-bottom:3vw;
}

.instruction2{
    width: 100%;
    display:flex;
    background-color: white;
    margin-left:3vw;
    margin-right:3vw;
    margin-bottom:3vw;   
}

.instruction3{
    width: 100%;
    display:flex;
    background-color: white;
    margin-left:3vw;
    margin-right:3vw;
    margin-bottom:3vw;
}

.instruction4{
    width: 100%;
    display:flex;
    background-color: white;
    margin-left:3vw;
    margin-right:3vw;
    margin-bottom:3vw;
    height:40vw;
    max-height:33vh;
}
    


    


    
    
   
    
    
    
    
    
    
    
    .mobile-top{
    
    }
    .map{

/*    height: 50vh;*/
    min-height:300px;
    margin-left: 3.5vw;
        margin-left: 3.5vw;
        width: 90vw;


}
    p{
    font-size: 18px;
    line-height: 24px;
}
    

    


    .top-first{
    background-color: azure;
    width: 100%;
        height:33%;
        padding:0px;
}
.top-center1{
    
    width: 100%;
    height:34%;
    padding:0px;
    
}
    
    .top-middle{
       background-color: pink;
    width: 33%;
    height:34%;
    padding:0px;  
    }
    .top-last1{
    background-color: red;
    width: 33%;
    height:34%;
    padding:0px;
    
}
    

    

    


    
    #object{
        display:none;
    }
    .stick{
        width:100%;
        position:static;
    }
    
    .hide-desktop{
        display:block;
    }
    
    .footer{
        margin-top:-19px;
    }
}




@media (min-aspect-ratio: 2440/1440) {
    .video1{
        top:0;
        bottom:0;
        position: absolute;
        
        max-width: 90vw;
        min-width: 90vw;
        height: auto;
        
/*        width: 100%;*/
    /*    max-height:90vh; */

        overflow: hidden;
        margin: auto;
    }
}



 .venuw-smalllink{
        border-bottom: 2px solid white;
    }


@media only screen and (min-width: 800px){
    
    .instruction1{
    width: 100%;
    display:flex;
    background-color: yellow;
}
        .instruction2{
    width: 100%;
    display:flex;
    background-color: greenyellow;
}
            .instruction3{
    width: 100%;
    display:flex;
    background-color: red;
}

    
    .countdown{
        height:80vh;
        background-color: aqua;
    }
    
            .arrowmobileyellow{
    display: none;
    height: 40%;
    padding-right: 3.5vw;
    }
    
    .uploaddownloadmobile{
        display:none;
    }
    

            .smalllink{
    padding-bottom: 5px;
    color:white;
    cursor: pointer;   
}
    
    .partners-smalllink{
        border-bottom: 2px solid white;
    }
    
                .how-smalllink{
        border-bottom: 2px solid white;
    }

.smalllink:hover{
    border-bottom: 2px solid yellow;
    padding-bottom: 05px;
    color:yellow;
}
    
       .stuck {
    display:none;
}

    nav {
    display:none;
}
    
       #mobilenavbar{
    display: none;
} 
    
    
/* legal modal   */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 12000; /* Sit on top */
  
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 2px solid black;
  width: 80%;
  
    
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.2s;
  animation-name: animatetop;
  animation-duration: 0.2s
      
      

}
    

/* Add Animation */
@-webkit-keyframes animatetop {
  from {transform: scale(0); opacity:0} 
  to {transform: scale(1); opacity:1}
}

@keyframes animatetop {
  from {transform: scale(0.5); opacity:0}
  to {transform: scale(1); opacity:1}
}

/* The Close Button */
.close {
  color: black;
  font-size: 3.5vw;
  font-weight:100;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  background-color: white;
  border-bottom: 2px solid black;
  color: black;
  height: 7vw;
  position:fixed;
  width: 76%;
  padding-left: 2vw;
  padding-right:2vw;
    

}
    
.modalclose{
  margin-top:1vw;
  float:right;
    }
    
.modalheading{
  font-size: 3.5vw; 
  margin: 0px;
  margin-top:1vw;
  float:left;
    }
    


.modal-body {
  margin-top: 7vw;
  padding-left: 2vw;
  padding-right:2vw;
    
  height:68vh;
  overflow-y:scroll;
  overflow-x: hidden;
    }


.modal-body::-webkit-scrollbar {
  
   
}
 
.modal-body::-webkit-scrollbar-track {
    background-color: white;
    box-shadow: inset 2px 2px 0px white;
  
}
 
.modal-body::-webkit-scrollbar-thumb {
  background-color: black;
  border: solid white 2px;


}
   
    
 /* disclaimer modal   */

/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 12000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 2px solid black;
  width: 80%;
  
    
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.2s;
  animation-name: animatetop;
  animation-duration: 0.2s
      
      

}
    

/* Add Animation */
@-webkit-keyframes animatetop {
  from {transform: scale(0); opacity:0} 
  to {transform: scale(1); opacity:1}
}

@keyframes animatetop {
  from {transform: scale(0.5); opacity:0}
  to {transform: scale(1); opacity:1}
}

/* The Close Button */
.close2 {
  color: black;
  font-size: 3.5vw;
  font-weight:100;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header2 {
  background-color: white;
  border-bottom: 2px solid black;
  color: black;
  height: 7vw;
  position:fixed;
  width: 76%;
  padding-left: 2vw;
  padding-right:2vw;
    

}
    
.modalclose2{
  margin-top:1vw;
  float:right;
    }
    
.modalheading2{
  font-size: 3.5vw; 
  margin: 0px;
  margin-top:1vw;
  float:left;
    }
    


.modal-body2 {
  margin-top: 7vw;
  padding-left: 2vw;
  padding-right:2vw;
    
  height:68vh;
  overflow-y:scroll;
  overflow-x: hidden;
    }


.modal-body2::-webkit-scrollbar {
  
   
}
 
.modal-body2::-webkit-scrollbar-track {
    background-color: white;
    box-shadow: inset 2px 2px 0px white;
  
}
 
.modal-body2::-webkit-scrollbar-thumb {
  background-color: black;
  border: solid white 2px;


}
   
    
/* terms and conditions modal   */

/* The Modal (background) */
.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 12000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content3 {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 2px solid black;
  width: 80%;
  
    
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.2s;
  animation-name: animatetop;
  animation-duration: 0.2s
      
      

}
    

/* Add Animation */
@-webkit-keyframes animatetop {
  from {transform: scale(0); opacity:0} 
  to {transform: scale(1); opacity:1}
}

@keyframes animatetop {
  from {transform: scale(0.5); opacity:0}
  to {transform: scale(1); opacity:1}
}

/* The Close Button */
.close3 {
  color: black;
  font-size: 3.5vw;
  font-weight:100;
}

.close3:hover,
.close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header3 {
  background-color: white;
  border-bottom: 2px solid black;
  color: black;
  height: 7vw;
  position:fixed;
  width: 76%;
  padding-left: 2vw;
  padding-right:2vw;
    

}
    
.modalclose3{
  margin-top:1vw;
  float:right;
    }
    
.modalheading3{
font-size: 3.5vw;
  margin-top:1vw;
    float:left;
    }
    


.modal-body3 {
  margin-top: 7vw;
  padding-left: 2vw;
  padding-right:2vw;
    
  height:68vh;
  overflow-y:scroll;
  overflow-x: hidden;
    }


.modal-body3::-webkit-scrollbar {
  
   
}
 
.modal-body3::-webkit-scrollbar-track {
    background-color: white;
    box-shadow: inset 2px 2px 0px white;
  
}
 
.modal-body3::-webkit-scrollbar-thumb {
  background-color: black;
  border: solid white 2px;


}
   
    
    
    
    
    
 
    
    
    
    
    
    
    
    
    
    
    
    
    
    #left-link1 {
    position:fixed;
        top:0;}
   
    #right-link1 {
    position:fixed;
        top:0;}
   
    #Partners{
        position:fixed;
        bottom:-100vh;
    }
    
    

    #object2 {
    position:fixed;
    bottom:-100vh;
    width: 45vw;
    left:5vw;
    z-index:5000;

}
    
    
    
    
    
 /*navigation*/
.left-link {
    position:fixed;
    z-index:10000;
    left:0;
   

    display: flex;
    justify-content: center;
    align-items: center;

    height: 1100vh;
    min-width: 55px;
    width:5vw;
    background-color: black;
   
}
.right-link{
    position:fixed;
    z-index:10000;
    right:0;
   

    display: flex;
    justify-content: center;
    align-items: center;

    height: 1100vh;
    min-width: 55px;
    width:5vw;
    background-color: black;
   
}
.verticaltextright {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin:right, top;
   
    justify-content:center;
    align-content: center;
    
    display: flex;
    justify-content: center;
    z-index:4000;
    overflow:hidden;
    min-height: 55px;
    width: 1100vh;
    top:0;
}
.verticaltextleft {
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin:left, top;
   
    justify-content:center;
    align-content: center;
    
    display: flex;
    justify-content: center;
    z-index:4000;
    overflow:hidden;
    min-height: 55px;
    
    width: 1100vh;
    top:0;
}
.top-link{
    padding-right:0vh;
    padding-left:0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
     height:5vw;
    min-height:55px;
    color: black;
    
}
.top-link2{
    padding-right:0vh;
    padding-left:0vh;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:5vw;
    min-height:55px;
    color:white;
}
.top-link2:hover{
    background-color: #00ff00;
    color:black;}
.top-link:hover{
    background-color: #00ff00;
    color:black;}



    
    /*  topbarslide  */
    
    

    

    
 /*video*/   
#video{
    position:fixed;
    top: 10vh;
    z-index: 1;
    bottom:0;

    background-color: black;
    
    width: 100%;
    max-height: 90vh;
    overflow: hidden;
    
    display: flex;

    justify-content: center;
    align-content: center;

}

  

    
.top-left{
    width: 90vw;
    
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top:-64px;
}    
    
    


    
    
    
    
    
    
    
    
    
    
    
    
    
    
 

.scroll-to-top{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color: #ff00ff;
    bottom:0px;
    position:absolute;
    width: 100%;
    height: 96px;
    color: black;
    
     
}  
.venue{
    background-image: url(img/airbnbinside.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:60vh;
}
    
    .treasuremap{
    height:60vh;
    background-color:rgba(240,240,240,1);
}
    
.bottombar{
    float: left;
    display: flex;
    align-items:center;
    bottom:0px;
    position:absolute;
    width: 40%;
    height: 20vw;
    max-height:96px;
    min-height:44px;
    
}
    
.backtotop{
    width:100%; 
    padding-left: 7vw;
}





/*
.top1{
    width: 100%;
    height: 90vh;
    background-image: url(img/tops-01.png);
    background-size: 100% 100%;
}
*/



.top-first{
    background-color: red;
    width: 33%;
    height: 100vh;
    padding-top: -64px;
}
.top-center1{
    
    width: 34%;
    padding-top: -64px;
    
    
}
.top-firstb{
    background-color: azure;
    width: 66%;
    height: 100%;
/*    margin-top: 64px;*/
}
.top-center1b{
    
    width: 34%;
/*    margin-top: 64px;*/
    
    
}











.left-link a{
    text-decoration: none;
}

.right-link a{
    text-decoration: none;
}

h1{
    font-size: 3vw;
    font-family:
}

.h1{
    font-size: 3vw;
    font-family:
}

.h2{
    font-size:3.5vh;
}

p{
    font-size: 1.5vw;
    line-height: 2.2vw;
}

.pop-up-link{
   padding-left:50px;   
}

.underline{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.underline:hover{
    border-bottom: 2px solid yellow;
    padding-bottom: 10px;
}
.microtxt{
    font-size:1.2vw;
    line-height: 1.8vw;
    width: 50%;
    padding-left:15px;
    display: inline-block;
    
}

.music-icon{
    display:flex;
}

.icon{
    min-width: 10vw;
    max-width: 10vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 20px;
    padding-bottom: 20px;
    background:rgba(0,0,0,0.1);
}

.camera{
    width: 70%;
    margin:auto;
    padding-top: 5%;
}

.txt{
    padding-top: 12%;
     font-size:1.2vw;
    line-height: 1.8vw; 
}
    
    .txt2{
    font-size:1.2vw;
    line-height: 1.8vw;
}


.uploaddownload{
    height: 20vh;
}

.download{
    height:20vh;
    width:94.6%;
    background-color: yellow;
    padding-top:5px;
    padding-left:35px;
    background-image: url(img/greentriangle.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.upload{
    height:20vh;
    width:94.8%;
    background-color: #f894ff;
    padding-top:5px;
    padding-left:35px;
    
      background-image: url(img/bluetriangle.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.sponsor1{
    mix-blend-mode: multiply;
    margin: auto;
    width: 51%;
    
}



.maps-link{
   font-size: 21px;
    line-height: 28px; 
    
    padding-top:37px;
    padding-left:50px;
}

.whiteunderline{
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    color:white;
}

.whiteunderline:hover{
    border-bottom: 2px solid yellow;
    padding-bottom: 10px;
    color:yellow;
}


.listbox{
    display: flex;
    margin-top:-30px;
    margin-left:-15px;
    
}

.details{
    margin-top: 5vh;
}



.about{
    
    padding-top:5px;

    padding-left:50px;
    padding-right:50px;
    height: 75vh;
    min-height:200px;
}
    
    .panelcontent{
    
    padding-top:5px;

    padding-left:50px;
    padding-right:50px;
    height: 75vh;
    min-height:200px;
}
    
    .partner-content{
    padding-top:5px;
    padding-left:50px;
    padding-right:50px;
    height: 75vh;
    min-height:200px;
    }

.map{
    height: 100vh;
    min-height:200px;
}
    
    .partners{
        height: 100vh;
    }

.sponsors{
    background-color:#b203ee;
    display: flex;
    flex-wrap: wrap;
}
.instrutions{
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
}

.viddesktop{
    height:100vh;
    z-index: 10000;
    width:90vw;
    position:absolute;
    background-color:black;
}

.green{
    background-color: #00ff00;
}
.step{
    margin-top:-11px;
    padding-left:3.5vw;
    padding-right:3.5vw;
    }




#About{
    
}

.why{
    
    padding-top:5px;
    padding-left:50px;
    padding-right:50px;
    height: 75vh;
    min-height:500px;
}

.lightblue{
    background-color: #7afff7;
}


.orange{
    background-color:#ffaa00;
    background-image: url(img/getticketgreen.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 40vh;
}



body::-webkit-scrollbar {
  width: 0px;
   
}
 
body::-webkit-scrollbar-track {

    background-color: black;
}
 
body::-webkit-scrollbar-thumb {
  background-color: white;
}







.stick{
    position:sticky;
    top:0px;
    height:100vh;
    width: 45vw;
}

.center{
    margin-left:5vw;
    margin-top:24px;
    width:45vw;
    margin-top: 0px
    
}

#object {
    position:fixed;
    bottom:100vh;
    left:50vw;
    width: 45vw;
    background-color: lightgrey;
    
    
    
}
#object2 {
    position:fixed;
    bottom:-100vh;
    width: 45vw;
    left:5vw;
    z-index:5000;

}




.scroll-area {
  scroll-snap-align: start;
    scroll-snap-stop:always;

}

#object3
{
  

}


.aboutsection{
    height:100vh;
}

.previewlink{
    height:100vh;
}

.howtomix{
   height:100vh; 
}

.instructionsheight{
    height: 100vh;
}

.enterheight{
   height:80vh; 
}

.rblock{
    height:100vh;
    }



.long{
    height:100vh;
}

.blue{
    height:100vh;
    
}

.lawngreen{
    background-color:lawngreen;
}


.red{
    background-color:red;
}
.white{
    background-color:white;
}



.hide-desktop{
    display:none;
}

.aqua{
    background-color:aqua;
}

.footer{
    position:relative;  background-color:black; 
    height:100vh;
    max-height:100vh;
    width:100vw;
    overflow: hidden;
    z-index:10000; 
}
.footer-text{
    color: white;
    padding-left: 104px;
    padding-top: 74px;
    height:45vh;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    color: white;
    padding-left: 104px;
    padding-right: 104px;
    font-size: 1.5vw;
    line-height: 2.2vw;
    cursor: pointer;
}
.whiteunderlinefooter{
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    color:white;
}



.whiteunderlinefooter:hover{
    border-bottom: 2px solid yellow;
    padding-bottom: 10px;
    color:yellow;
}

.arrowright{
    float:right;
    width:100%; 
    padding-right: 7vw;  
    padding-left: 35vw;
}



.ticketslink{
    margin: auto;
    cursor: pointer;
}

    .speakers{
        background-color: #f894ff;
    }

.Panel{
    height: 100vh;
}

    
.Panel1{
    height: 100vh;
}
.Panel2{
    height: 100vh;
}
.Panel3{
    height: 100vh;
}
    
    .attend{
        height:100vh;
    }

.speaker3{
    display:flex;
    justify-content: center;
    height: 60%;
    width: 100%;
}

.grey{
    background-color: #dedfe1;
}

.black{
    background-color: black;
}

.portrait3{
    height: 100%;
    max-height: 45vw;
    width: auto;
    align-self: flex-end;
}

.spekerdescblock{
    padding-left: 30px;
    padding-right: 30px;
}

.speakerlink{
    color: black;
}

.speakerlink:hover{
    color: yellow;
}



    
#mouse{
position:absolute;
    z-index:5000;
    transition:none;
    overflow: hidden;
}

.fiftydesktop{
    width:45%;
}
}


